<h3>Activity Statistics</h3>

<div id="chart"></div>
<div class="tabs-content">
        
<script src="/static/ndf/bower_components/d3/d3.js"></script>
<script src="/static/ndf/bower_components/d3-tip/index.js"></script>
<script type="text/javascript">
var w = 300;
var h = 300;
var r = h/2;
var color = d3.scale.category10();

var data = [{"label":"Pages Created", "value":"{{page_create_rate}}"}, 
            {"label":"Files Uploaded", "value":"{{file_create_rate}}"},
            {"label":"Quiz Created", "value":"{{quiz_create_rate}}"},
            {"label":"Forums Created", "value":"{{forum_create_rate}}"},
            {"label":"Threads Created", "value":"{{thread_create_rate}}"},
            {"label": "Reply", "value":"{{reply_create_rate}}"},
            {"label":"Registration", "value":5}];


var vis = d3.select('#chart').append("svg:svg").data([data]).attr("width", w).attr("height", h).append("svg:g").attr("transform", "translate(" + r + "," + r + ")");
var pie = d3.layout.pie().value(function(d){return d.value;});

// declare an arc generator function
var arc = d3.svg.arc().outerRadius(r);

// select paths, use arc generator to draw
var arcs = vis.selectAll("g.slice").data(pie).enter().append("svg:g").attr("class", "slice");
arcs.append("svg:path")
    .attr("fill", function(d, i){
        return color(i);
    })
    .attr("d", function (d) {
        // log the result of the arc generator to show how cool it is :)
        console.log(arc(d));
        return arc(d);
    });

// add the text
arcs.append("svg:text").attr("transform", function(d){
            d.innerRadius = 0;
            d.outerRadius = r;
    return "translate(" + arc.centroid(d) + ")";}).attr("text-anchor", "middle").text( function(d, i) {
    return data[i].label;}
        );


</script>

