{% load ndf_tags %}
{% load i18n %}

{% block head %}

  <link href="/static/ndf/bower_components/jqtree/jqtree.css" rel="stylesheet"> 
  <script src="/static/ndf/bower_components/jqtree/tree.jquery.js"></script> <!-- checked -->
    
  <script type="text/javascript">
    $(document).ready(function() {
      $(function() {

        var $tree = $('.collection');

        $tree.tree();

        $tree.bind(
          'tree.click',
          function(event) {
              // The clicked node is 'event.node'
              var node = event.node;
              // var node_type = node.node_type;

              $.ajax({
                  type: "POST",
                  url: "{% url 'collection_nav' group_id %}",
                  datatype: "html",
                  data:{
                    node_id: node.id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                  },
                  success: function(data) {

                    // if (node_type == "Page"){
                    //  window.history.pushState("", "", "/{{group_name_tag}}/page/"+node.id+"");
                    // }
                    // else if(node_type == "File"){
                    //   window.history.pushState("", "", "/{{group_name_tag}}/file/"+node.id+"");  
                    // }
                    // else if (node_type == "Term"){
                    //   window.history.pushState("", "", "/{{group_name_tag}}/term/"+node.id+"");
                    // }
                    // else if (node_type == "Topic"){
                    //   window.history.pushState("", "", "/{{group_name_tag}}/topic_details/"+node.id+"");
                    // }
                    
                    // $("#ajax_load_image").hide();
                    // $("#content").css({"opacity":""})
                    $("#view_page").html(data);

                  }
              });

              $.ajax({
                  type: "POST",
                  url: "{% url 'collection_view' group_id %}",
                  datatype: "html",
                  data:{
                    node_id: node.id,
                    breadcrumbs_list: "{{breadcrumbs_list}}",
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                  },
                  success: function(data) {

                    $("#view_collection").html(data);
                  }
              });
            
          }
        );


      });
    });
  </script>

<style type="text/css">
  
  .collection {
    border: solid thin #ddd;
    margin-bottom: 1em;
    overflow: auto;
  }

  .collection > ul li:nth-child(odd) { background: #ddd; }
  
</style>  

{% endblock %}
  
  <ul class="breadcrumbs"> 
    {% for e in breadcrumbs_list %}
        {% if topic %}
          {% get_prior_node e.0 as prior %}
            {% if prior %}              
              <li><b><a style="color:black;">{{prior.0.1}}</a></b></li>
              <li><b><a class="current" id="{{e.0}}" style="color:black;">{{e.1}}</a></b></li>
            {% endif %}
        {% else %}
          <li><b><a class="current" id="{{e.0}}" style="color:black;">{{e.1}}</a></b></li>
        {% endif %}
    {% endfor %}
  </ul>

  <div>
    <div class="collection" data-url="{% url 'get_collection' group_id node.pk %}"></div>
  </div>

<script type="text/javascript">

  $(".current").click(function() {
    
    $.ajax({
        type: "POST",
        url: "{% url 'collection_view' group_id %}",
        datatype: "html",
        data:{
          node_id: this.id,
          breadcrumbs_list: "{{breadcrumbs_list}}",
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(data) {

          $("#view_collection").html(data);

        }
    }); 

    $.ajax({
        type: "POST",
        url: "{% url 'collection_nav' group_id %}",
        datatype: "html",
        data:{
          node_id: this.id,
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(data) {
          $("#view_page").html(data);
        }
    }); 
   

  });

</script>

