{% load get_site_variables get_all_users_int_count get_all_file_int_count from ndf_tags %}
{% get_site_variables as site %}
{% get_all_users_int_count as all_users %}
{% get_all_file_int_count as all_files %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <title>NROER</title>

    <link rel="shortcut icon" href="/static/ndf/images/favicon/logo.png"> 

    <!-- Foundation 5 - Responsive CSS Framework http://foundation.zurb.com/docs/css.html-->
    <link rel="stylesheet" href="/static/ndf/bower_components/foundation/css/normalize.css"> 
    <link rel="stylesheet" href="/static/ndf/css/themes/metastudio/styles.css"> 

    <!-- Foundation Icon Font http://zurb.com/playground/foundation-icon-fonts-3 -->
    <link rel="stylesheet" href="/static/ndf/bower_components/foundation-icon-fonts/foundation-icons.css"> 

    <!-- Modernizr - Browser detection JS http://modernizr.com/ -->
    <script src="/static/ndf/bower_components/modernizr/modernizr.js"></script> 

    <!-- jQuery -->
    <script src="/static/ndf/bower_components/jquery/dist/jquery.min.js"></script> 

    <!-- slick-carousel -->
    <link rel="stylesheet" type="text/css" href="/static/ndf/bower_components/slick-carousel/slick/slick.css"/>
    <!-- Add the new slick-theme.css if you want the default styling -->
    <!-- <link rel="stylesheet" type="text/css" href="/static/ndf/bower_components/slick-carousel/slick/slick-theme.css"/> -->
    <script type="text/javascript" src="/static/ndf/bower_components/slick-carousel/slick/slick.min.js"></script>
                    

</head>
<body>

    <nav class="top-bar">
        <ul class="title-area">
            <li class="name">
                <h1>
                    <a href="/home/" class="group" accesskey="q" id="home-group">
                        <img class="flag" src="/static/ndf/images/India_Flag.png"> NROER
                    </a>
                </h1>
            </li>
            <!-- 
            <li class="toggle-topbar menu-icon">
                <a href="#">मेन्यू</a>
            </li>
            -->
        </ul>
        <!-- 
        <section class="top-bar-section">
            <ul class="right">
                <li class="has-form">
                    <a href="#" class="rounded language button" data-reveal-id="languageModal">en</a> 
                </li>
            </ul>
        </section>
        -->
    </nav>

    <header>
    
        <div class="row">
            <div class="medium-4 medium-push-1 columns">
                <section class="logo">
                    <img src="/static/ndf/css/themes/nroer/logo.svg">
                    <h1>National Repository <br>Of Open Educational Resources</h1>
                </section>

            </div>
            <div class="medium-6 columns">
                <br/>
                <a href="../accounts/register/" class="ui radius button">Join Repository</a>
                <a href="/home/e-library" class="ui radius button">Explore Resources</a>
                <a href="/home/topics" class="ui radius button">Explore Topics</a>
            </div>
        </div>
    </header>

    <article class="landing">
        <section class="promo">
            <div class="banner">
                <div id="group-banner">

                    <div class="slide row" style="background-color:#10a05d">
                        <i class="fi-torsos"></i>
                        <h3 class="medium-12 columns">
                            <blockquote>Connecting Knowledge, Connecting People..</blockquote>
                        </h3>

                        <div class="medium-8 columns">
                            <p>The NROER is an ambitious inititative by the Government Of India to design and develop a knowledge management system for the benefit of every human on this planet.</p>
                        </div>

                        <div class="medium-4 columns">
                            <a href="../accounts/register/" class="main large ui button">Join NROER</a>
                        </div>
                    </div>

                    <div class="slide row" style="background-color:#3710a0">

                        <i class="fi-web"></i>
                        <div class="medium-12 columns">
                            <div class="row">
                                <div class="medium-3 columns">
                                    <h4>Collaborative</h4>
                                    <p>Built by the people, and for the people, we believe in making education a truly social process</p>
                                </div>
                                <div class="medium-3 columns">
                                    <h4>Open</h4>
                                    <p>The project is built on the philosophies of keeping knowledge free and open to everyone</p>
                                </div>
                                <div class="medium-3 columns">
                                    <h4>Accessible</h4>
                                    <p>With official partnerships with national educational organisations and institutes, NROER offers unparalleled reach to humanity</p>
                                </div>
                                <div class="medium-3 columns">
                                    <h4>Semantic</h4>
                                    <p>Developed using the latest in open semantic standards, educational resources can finally become machine readable</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- end of banner -->
   
            <div class="meta row">
                <div class="medium-4 columns">
                    <a href="{{ site.PARTNERS }}" class="main large ui button">
                        <h4>Partners</h4>
                        <p>Join a prestiguous list of institutions that provide a curated selection of high quality open educational content to the repository</p>
                    </a>
                </div>
                <div class="medium-4 columns">
                    <a href="{{ site.CONTRIBUTE }}" class="main large ui button">
                        <h4>Teachers and Students</h4>
                        <p>Publish your teaching material and build a profile as a valuable resource person for the country</p>
                    </a>
                </div>
                <div class="medium-4 columns">
                    <a href="/home/e-library" class="main large ui button expand">
                        <h4>Explore</h4>
                        <div class="row">
                            <div class="medium-6 columns"> {{all_files}} <small>Open Resources</small>
                            </div>
                            <div class="medium-6 columns"> {{all_users}} <small>Members</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
    
        </section>
        
        <section class="content">
            <div class="row">
                <div class="medium-12 columns">
                    <h2>Development Partners</h2>
                    <!-- <ul class="partner small-block-grid-6"> -->
                    <ul class="partner small-block-grid-6">
                        <li>
                            <a>
                                <div class="th">
                                    <img src="/static/ndf/images/logos/ncert.png">
                                </div>
                                <h5>National Council Of Educational Research And Training</h5> 
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="th">
                                    <img src="/static/ndf/images/logos/tifr.png">
                                </div>
                               <h5>Tata Institute of Fundamental Research</h5>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="th">
                                    <img src="/static/ndf/images/logos/rmsa.jpg">
                                </div>
                                <h5>Rashtriya Madhyamik Siksha Abhijan</h5>
                            </a>
                        </li>
                    </ul>
                    <hr>    
                    <h2>Institutional Partners</h2>
                    <ul class="partner small-block-grid-6">
                        <li>
                            <a>
                                <div class="th">
                                    <img src="/static/ndf/images/logos/ccrt.png">
                                </div>
                                <h5>Centre for Cultural Resources and Training</h5>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="th">
                                    <img src="/static/ndf/images/logos/vigyan_prasar.jpg">
                                </div>
                                <h5>Vigyan Prasar</h5>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="th">
                                    <img src="/static/ndf/images/logos/cdac.png">
                                </div>
                                <h5>Centre for Development of Advanced Computing</h5>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="th">
                                    <img src="/static/ndf/images/logos/siet_ap.png">
                                </div>
                                <h5>SIET Andhra Pradesh</h5>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="th">
                                    <img src="/static/ndf/images/logos/nvs.gif">
                                </div>
                                <h5>Jawahar Navodaya Vidyalaya</h5>
                            </a>
                        </li>
                         <li>
                            <a>
                                <div class="th">
                                    <img src="/static/ndf/images/logos/kvs.jpg">
                                </div>
                                <h5>Kendriya Vidyalaya Sangathan</h5>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="th">
                                    <img src="/static/ndf/images/logos/gsds.jpg">
                                </div>
                                <h5>Gandhi Smriti and Darshan Samiti</h5>
                            </a>
                        </li>
                       
                        <li>
                            <a>
                                <div class="th">
                                    <img src="/static/ndf/images/logos/siet_kerala.png">
                                </div>
                                <h5>SIET Kerala</h5>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="th">
                                    <h4>DIET</h4>
                                </div>
                                <h5>Directorate of Adult Education</h5>
                            </a>
                        </li>
                        
                    </ul>
                    <hr/>
                    <h2>State Partners</h2>
                    <ul class="partner small-block-grid-6">
                        <li>
                            <a>
                                <div class="th">
                                    <img src="/static/ndf/images/logos/giet.jpg">
                                </div>
                                <h5>Gujarat Institute of Educational Technology</h5>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="th">
                                    <img src="/static/ndf/images/logos/scert_manipur.jpg">
                                </div>
                                <h5>SCERT Manipur</h5>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="th">
                                    <img src="/static/ndf/images/logos/siert_rajasthan.gif">
                                </div>
                                <h5>SIERT Rajasthan</h5>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </article>
    
    <!-- JS -->
    <script src="/static/ndf/bower_components/foundation/js/foundation.min.js"></script> 
    <script src="/static/ndf/js/app.js"></script> 

    <script>
        
        // for (i = 0; i < 0; i++) {
        //     $("#partner-list li").clone().appendTo("#partner-list");
        // }

        $(document).ready(function(){
  
            try{
                $("#group-banner").slick({
                    dots: true,
                    autoplaySpeed: 7000,
                    autoplay: true
                });
            }
            finally{
                // function defined in app.js to check the font and load it asynchronously.
                checkOpenSansFont();
            }
      });

    </script>

</body>
</html>
