{% load ndf_tags %}
{% load i18n %}
{% get_group_name groupid as group_name_tag %}

<script src="/static/ndf/bower_components/foundation/js/foundation.min.js"></script> <!-- checked -->
<script type="text/javascript">
  $(document).foundation();
</script>

{% block head %}

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  
  <!-- Scripts and stylesheets for SideComments -->
  <!-- <script type="text/javascript" src="/static/ndf/bower_components/side-comments/release/side-comments.js"></script> -->
  <!-- <link rel="stylesheet" type="text/css" href="/static/ndf/bower_components/side-comments/release/side-comments.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="/static/ndf/bower_components/side-comments/release/themes/default-theme.css"> -->

  {% if user.is_authenticated %}
    <!-- orgitdown! -->
    <script type="text/javascript" src="/static/ndf/orgitdown/jquery.orgitdown-foundation.js"></script>
    <!-- orgitdown! toolbar settings -->
    <script type="text/javascript" src="/static/ndf/orgitdown/skins/gstudio/set.js"></script>
    <!-- orgitdown! skin -->
    <link rel="stylesheet" type="text/css" href="/static/ndf/orgitdown/skins/gstudio/style.css" />

  {% endif %}

{% endblock %}

<!-- css for drawer widget -->
<style type = "text/css">

  /*annotations*/
  /*.movingDiv{
    display:none; 
    position:absolute;
    color: green;
    font-size: 10px; 
    z-index:40; 
    background-color:white; 
    box-shadow: 0px 0px 5px #888888; 
  }
  .annotatedElement{
  background-color : rgba(255,0,0,0.2);
  font-weight:bold;
  } 
  .movingDivIcon{
    font-size: 35px;
    color: green;
    padding-left: 5px;
    padding-right: 5px;
  }*/
  /* ---END of annotations*/
    
  .divider-line { font-size: xx-large; color:lightgray; }
  .line-height-2 { line-height:2; }
  .line-height-2pt5 { line-height:2.5; }
  .fontsize-x-large { font-size: x-large; }

  .margin-0 { margin: 0 !important ;}

  .resource-drawer {
  border-color: #D3D3D3; border-style: solid;
  padding: 0 !important;
  overflow-y: auto;
  }

  .resource-drawer li.bullet-item:hover{
  background-color: #ecf0f1; cursor:pointer;
  }

  .posted-by{ color: #808080; font-size: small; }

  .selected-resource { background-color:lightgray !important ; }

  .resource-type-image {
  height:40px;
  background-repeat:no-repeat; background-size: 48px 48px
  }

  ul#graph-hover.f-dropdown{
    width: inherit !important;
  }

  #graph-hover > li > a:hover {
    color: #555555;
  }


  /*orgitdown style*/

  .orgitdown{
    /*height:100px;*/
    width: 100% !important;
  }
  
  .row.orgitdownContainer{
    /*height:100px;*/
    background-color: #EEEEEE;
    padding: 0 1em;
  }

  .row.orgitdownContainer > ul
  {
    margin-bottom: 0 !important; 
  }
  /*.orgitdownEditor{
    height:60px;
  */}

  .orgitdownContainer::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px; 
  
  }

  #html-res-iframe{
    border: none;
  }

  .orbit-container .orbit-prev,
  .orbit-container .orbit-next {
    background-color: tomato;    
  }
  
/*Style for dropdown*/

ul#navigation {
  position:relative;
  float:left;
}

ul#navigation li {
  display:inline;
  float:left;
  position:relative;
}

ul#navigation li a {
  padding:7px 7px;
  text-shadow:1px 1px 0px #fff;
  display:inline-block;  
}

ul#navigation li a:hover {
  background:#f8f8f8;
  color:#282828;
}

ul#navigation li:hover > a {
  background:#fff;
}

/* Drop-Down Navigation */
ul#navigation li:hover > ul
{
  visibility:visible;
  opacity:1;
}

ul#navigation ul, ul#navigation ul li ul {
  list-style: none;
  margin: 0;
  padding: 0;    
  visibility:hidden;
  position: absolute;
  z-index: 99999;
  width:180px;
  /*width: 30em !important;*/
  background:#f8f8f8;
  box-shadow:1px 1px 3px #ccc;
  opacity:0;
  -webkit-transition:opacity 0.2s linear, visibility 0.2s linear; 
  -moz-transition:opacity 0.2s linear, visibility 0.2s linear; 
  -o-transition:opacity 0.2s linear, visibility 0.2s linear; 
  transition:opacity 0.2s linear, visibility 0.2s linear;   
}

ul#navigation ul {
    top: 43px;
    left: 1px;
}

ul#navigation ul li ul {
    top: 0;
    left: 181px;
    height:150px; 
    width: 200px;
    overflow:hidden; 
    overflow-y:auto;
}

ul#navigation ul li {
  clear:both;
  width:100%;
  border:0 none;
  border-bottom:1px solid #c9c9c9;
}

ul#navigation ul li a {
  background:none;
  padding:7px 15px;
  color:#616161;
  text-shadow:1px 1px 0px #fff;
  text-decoration:none;
  display:inline-block;
  border:0 none;
  float:left;
  clear:both;
  width:100%;

}

ul#navigation li a.first {
  border-left: 0 none;
}

ul#navigation li a.last {
  border-right: 0 none;
}

.edu-sub-li {
  background-color:#f8f8f8;
  width: 30em !important;
}

/*end dropdown style*/


</style>


{% if user.is_authenticated %}
<!--<a id="toggle-shelf" class="right-off-canvas-toggle right" ><i class='fi-book-bookmark'></i></a> -->
{% endif %}

<!-- Icon to add annotations -->
<!-- <div id="moving_div" class = "movingDiv" >
      <i title="Annotate" class ="fi-comment-quotes movingDivIcon" onclick = 'switchMode();'></i>
      
</div> -->
<!-- End menu -->

<!-- Reveal dialog for alerting user to select text to add annotations and for signing in-->
<!-- <div id="alertSelText" style="display:none" class = "reveal-modal tiny" data-reveal >
  <p> "Please select some text first! " </p>
  <a class = "close-reveal-modal">&#215;</a>
</div>

<div id="alertSignIn" style="display:none" class = "reveal-modal tiny" data-reveal >
  <p> "Please sign in to add comments! " </p>
  <a class = "close-reveal-modal">&#215;</a>
</div> -->
<!-- end dialog -->

{% get_schema node as schema %} 

{% check_user_join request groupid as user_is_joined %}

<div class="row page" itemscope itemtype="{{schema.1.type}}">
    
    <section class="medium-9 columns" >
      
      <h1><span itemprop="{{schema.1.name}}" class='node'>{{node.name}}</span>

      {% if node %}
        {% get_publish_policy request groupid node as group_policy %}
        {% if group_policy == "allow" %}
          &nbsp;&nbsp;&nbsp;<span style='position:fixed; color: gray;'>Draft</span>
        {% endif %}
      {% endif %}

      </h1>

      <h1 class="subheader">
      <dl class="tabs" data-tab data-options="deep_linking:true"> 

      {% if topic %}
        <dd class="active page-view view_list"><a class="view-page"><i class="fi-eye"></i> {% trans "View" %}</a></dd>
        <dd class="filters-view">

          <nav id="nav">
          <ul id="navigation">
            <li><a href="#" class="view-filters"><i class="fi-list"></i> {% trans "Filter based on" %} </a>
              <ul id="view-elements">
                {% get_metadata_values as metadata %}
                {% for k,v in metadata.items %}
                  {% if k == "educationallevel" %}            
                    <li>
                      <a> {% trans "Educational Level" %} &raquo;</a>
                      <ul>
                        {% for opts in v %}
                          <li class="view_list edu-sub-li view-filters" id="{{k}}" title="{{opts}}"><a>{% trans opts %}</a></li>
                        {% endfor %}
                      </ul>
                    </li> 
                  {% elif k == "educationalsubject" %}
                    <li>
                      <a> {% trans "Educational Subject" %} &raquo;</a>
                      <ul>
                        {% for opts in v %}
                          <li class="view_list edu-sub-li view-filters" id="{{k}}" title="{{opts}}"><a>{% trans opts %}</a></li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% elif k == "textcomplexity" %}
                    <li>
                      <a> {% trans "Text Complexity" %} &raquo;</a>
                      <ul>
                        {% for opts in v %}
                          <li class="view_list edu-sub-li view-filters" id="{{k}}" title="{{opts}}"><a>{% trans opts %}</a></li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% elif k == "educationalalignment" %}
                    <li>
                      <a> {% trans "Educational Alignment" %} &raquo;</a>
                      <ul>
                        {% for opts in v %}
                          <li class="view_list edu-sub-li view-filters" id="{{k}}" title="{{opts}}"><a>{% trans opts %}</a></li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% elif k == "language" %}
                    <li>
                      <a> {% trans "Language" %} &raquo;</a>
                      <ul>
                        {% for opts in v %}
                          <li class="view_list edu-sub-li view-filters" id="{{k}}" title="{{opts}}"><a>{% trans opts %}</a></li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% elif k == "interactivitytype" %}
                    <li>
                      <a> {% trans "Interactivity Type" %} &raquo;</a>
                      <ul>
                        {% for opts in v %}
                          <li class="view_list edu-sub-li view-filters" id="{{k}}" title="{{opts}}"><a>{% trans opts %}</a></li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% elif k == "audience" %}
                    <li>
                      <a> {% trans "Audience" %} &raquo;</a>
                      <ul>
                        {% for opts in v %}
                          <li class="view_list edu-sub-li view-filters" id="{{k}}" title="{{opts}}"><a>{% trans opts %}</a></li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% elif k == "curricular" %}
                    <li>
                      <a> {% trans "Curricular" %} &raquo;</a>
                      <ul>
                        {% for opts in v %}
                          <li class="view_list edu-sub-li view-filters" id="{{k}}" title="{{opts}}"><a>{% trans opts %}</a></li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% endif %}

                {% endfor %}
              </ul>
            </li>
          </ul>
          </nav>
        </dd>

        <!-- <dd class="active page-view"><a data-dropdown="hover1" data-options="is_hover:true; hover_timeout:5000" class="view-page"><i class="fi-eye"></i> {#% trans "View" %#}</a></dd>
 -->
        <!-- <ul id="hover1" class="f-dropdown" data-dropdown-content>
          <li class="view_list" id="Images"><a><i class="fi-photo"></i> {#% trans "Images" %#} </a></li> 
          <li class="view_list" id="Videos"><a><i class="fi-play-circle"></i> {#% trans "Videos" %#} </a></li>  
          <li class="view_list" id="Audios"><a><i class="fi-music"></i> {#% trans "Audios" %#} </a></li>  
          <li class="view_list" id="Documents"><a><i class="fi-page-filled"></i> {#% trans "Documents" %#} </a></li>  
          <li class="view_list" id="Interactives"><a><i class="fi-arrows-compress"></i> {#% trans "Interactives" %#} </a></li>  
        </ul> -->
        
      {% else %}
        <dd class="active page-view"><a class="view-page"><i class="fi-eye"></i> {% trans "View" %}</a></dd>
      {% endif %}
      
      <!-- calling ndf tags for discussion replies -->
      {% get_disc_replies node.pk group_id global_disc_all_replies as all_replies %}
      <dd class="info-view"><a class="view-info"><i class="fi-clipboard-notes"></i> {% trans "Info Box" %}</a></dd>
      {% if "Group" not in node.member_of_names_list %}

        {% if node|is_File %}         
          <dd class="discussion-view"><a class="view-discussion"><i class="fi-comment"></i>
            
              {% if all_replies %}
                <span title="{{ all_replies | length }} &nbsp;{% trans 'Comments' %}">
                  {% trans "Join Discussion" %} ({{ all_replies | length }})
                </span>
              {% else %}            
                <span title="{% trans 'Be the first to start a discussion' %}">
                  {% trans "Begin Discussion" %}
                </span>
              {% endif %}

            </a>
          </dd>
        {% endif %}

      {% endif %}
    </dl>
  </h1>
  <!-- new  -->

  {% if schema.0 %}
<meta itemprop="{{schema.1.DC}}" content="{{node.created_at}}">
<meta itemprop="{{schema.1.DM}}" content="{{node.last_update}}" >
<meta itemprop="{{schema.1.creator}}" content="{{node.user_details_dict.created_by}}">
<meta itemprop="{{schema.1.editor}}" content="{{node.user_details_dict.modified_by}}">
<meta itemprop="{{schema.1.lang}}" content="{{node.language}}">
<meta itemprop="{{schema.1.agerange}}" content="{{node.age_range}}">
<meta itemprop="{{schema.1.timerequired}}" content="{{node.timerequired}}">
{% for contributor_name in node.user_details.contributors %}
<meta itemprop="{{schema.1.contributor}}" content="{{contributor_name}}">
{% endfor %}                                                             
{% if node|is_File %}         
<meta  itemprop="{{schema.1.size}}" content="{{node.file_size.size}} " >  
<meta  itemprop="{{schema.1.format}}" content="{{node.mime_type}}" >      
{% endif %}                                 
{% endif %}   

{% for neighbour in node.teaches %}                                 
<div itemprop="{{schema.1.educationalalignment}}" itemscope itemtype="alignmentObject">
  <meta itemprop="{{schema.1.educationalframework}}" content="">
  <meta itemprop="{{schema.1.alignmenttype}}" content="teaches">  
  <meta itemprop="{{schema.1.targeturl}}" content="{{neighbour.url}}"> 
  <meta itemprop ="{{schema.1.targetname}}" content ="{{neighbour.name}}">
  <meta itemprop ="{{Schema.1.targetdescription}}" content ="{{neighbour.html_content}}"> 
</div>
{% endfor %}

{% for neighbour in node.assesses %}                                
<div itemprop="{{schema.1.educationalalignment}}" itemscope itemtype="alignmentObject">
  <meta itemprop="{{schema.1.educationalframework}}" content="">
  <meta itemprop="{{schema.1.alignmenttype}}" content="assesses"> 
  <meta itemprop="{{schema.1.targeturl}}" content="{{neighbour.url}}"> 
  <meta itemprop ="{{schema.1.targetname}}" content ="{{neighbour.name}}">
  <meta itemprop ="{{schema.1.targetdescription}}" content ="{{neighbour.html_content}}"> 
</div>
{% endfor %}

<div class="row">
  
  <section class="medium-12 columns content">
    <div class="tabs-content">
      <!-- Tab content -->
      <div class="content active commentable-section" id="view-page" data-section-id="1">
        <div class="row">
          {% comment %}
          <!-- <div class="small-4 columns">
            {% if node.prior_node|length > 0 %}
	    {% if "Group" not in node.member_of_names_list %}
            <div class="panel">

              <h6>{% trans "You may want to read these first: " %}</h6>
              {% for index_key, each_node in node.prior_node_dict.items %}
              {% get_grid_fs_object each_node as grid_fs_obj %}
              {% if each_node.mime_type %}
              <a href="{% url 'read_file' group_name_tag each_node.pk  grid_fs_obj.filename %}">{{ each_node.name }}aaaa</a>,&nbsp;
              {% else %}
              <a href="{% url 'page_details' group_name_tag each_node.pk %}">{{ each_node.name }}</a>,&nbsp;
          }
	      {% endif %}
              {% endfor %}
            </div>
	    {% endif %}
              {% endif %}         </div>
 -->
          {% endcomment %}

          <div class="small-4 columns">
            {% get_teaches_list node as teaches_list %}
            {% if teaches_list %}
            <div class="panel">
              <h6>This resource teaches you: </h6>
              {% for  each_node in teaches_list %}
              {% get_grid_fs_object each_node as grid_fs_obj %}
              {% if each_node.mime_type %}
              <a href="{% url 'read_file' group_name_tag each_node.pk  grid_fs_obj.filename %}">{{ each_node.name }}</a>,&nbsp;
              {% else %}
              <a href="{% url 'topic_details' group_name_tag each_node.pk %}">{{ each_node.name }}</a>
              {% if not forloop.last %},&nbsp; {% endif %}
              {% endif %}
              {% endfor %}
            </div>
            {% endif %}
          </div>

          <div class="small-4 small-pull-4 columns">
            <!-- {#% if node.assesses %#} -->
            {% get_assesses_list node as assesses_list %}
            {% if assesses_list %}
            <div class="panel">
              <h6>This resource assesses these</h6>
              {% for  each_node in assesses_list %}
              {% get_grid_fs_object each_node as grid_fs_obj %}
              {% if each_node.mime_type %}
              <a href="{% url 'read_file' group_name_tag each_node.pk  grid_fs_obj.filename %}">{{ each_node.name }}</a>,&nbsp;
              {% else %}
              <a href="{% url 'page_details' group_name_tag each_node.pk %}">{{ each_node.name }}</a>,&nbsp;
              {% endif %}
              {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>
  
        <!-- Code for showing media details -->
        {% if node.mime_type %}

          {% get_grid_fs_object node as grid_fs_obj %}

          <!-- New Implementation -->
          Resource Type: {{node.mime_type}}<br/><br/>          
          
          {% if node.collection_set %} 

            {% if 'image' in node.mime_type or 'video' in node.mime_type %}                    
            <!-- Orbit image slider only for image and video collections--> 
              
              <ul data-orbit data-options="variable_height: true;timer:false;">              
                <li class="active">
                  <center>                   
                  {% if 'image' in node.mime_type %}
                  <a class="th" href="{% url 'read_file' group_name_tag node grid_fs_obj.filename %}">
                    <img src="{% url 'get_mid_size_img' group_name_tag node.pk %}" /> 
                    </a>
                  {% elif 'Pandora_video' in node.member_of_names_list %}
                    {% get_source_id node.pk as source_id %}
                    <video width="500" poster="http://wetube.gnowledge.org/{{source_id}}/icon128.jpg" controls>
                      <source src="http://wetube.gnowledge.org/{{source_id}}/480p.webm" type="video/webm"> 
                      {% trans "Your browser does not support the video tag." %}
                    </video>  
                  {% elif 'video' in node.mime_type %}
                    <video width="768" height="432" class="video-js vjs-default-skin vjs-big-play-centered" data-setup='{ "autoplay": false, "preload": "metadata" }' poster="{% url 'getvideoThumbnail' group_name_tag node %}" controls buffered>
                      <source src="{% url 'getFullvideo' group_name_tag node %}" type="video/mp4">    
                      <source src="{% url 'getFullvideo' group_name_tag node %}" type="video/webm">
                      <source src="{% url 'getFullvideo' group_name_tag node %}" type="video/ogg">    
                      {% trans "Your browser does not support the video tag." %}
                    </video>
                  {% endif %}
                  <div class="orbit-caption"> {{node.name}} </div>             
                </li>                

                {% for k in node.collection_set %}
                  {% get_node k as obj %}
                  {% get_grid_fs_object obj as grid_fs_obj %}
                  {% if 'image' in obj.mime_type or 'video' in obj.mime_type %}
                  <li>
                    <center>
                      {% if 'image' in obj.mime_type %}
                      <a class="th" href="{% url 'read_file' group_name_tag k grid_fs_obj.filename %}">
                        <img src="{% url 'get_mid_size_img' group_name_tag k %}" /> 
                      </a>
                      {% elif 'Pandora_video' in obj.member_of_names_list %}
                        {% get_source_id k as source_id %}
                        <!-- <video width="480px" poster="http://wetube.gnowledge.org/{{source_id}}/icon128.jpg" controls> -->
                        <video width="500" poster="http://wetube.gnowledge.org/{{source_id}}/icon128.jpg" controls>
                          <source src="http://wetube.gnowledge.org/{{source_id}}/480p.webm" type="video/webm"> 
                          {% trans "Your browser does not support the video tag." %}
                        </video>  
                      {% elif 'video' in obj.mime_type %}
                        <video width="768" height="432" class="video-js vjs-default-skin vjs-big-play-centered" data-setup='{ "autoplay": false, "preload": "metadata" }' poster="{% url 'getvideoThumbnail' group_name_tag node %}" controls buffered>

                          <source src="{% url 'getFullvideo' group_name_tag k %}" type="video/webm">
                          <source src="{% url 'getFullvideo' group_name_tag k %}" type="video/ogg">    
                          <source src="{% url 'getFullvideo' group_name_tag k %}" type="video/mp4">    
                          {% trans "Your browser does not support the video tag." %}
                        </video>                    
                      {% endif %}    
                      <div class="orbit-caption"> {{obj.name}} </div> 
                    </center>
                  </li>
                  {% endif %} 

                {% endfor %}
              </ul>           

              <!-- End of slider --> 
            {% else %}
                {% if 'audio' in node.mime_type %}
                  <audio src="{% url 'read_file' group_name_tag node grid_fs_obj.filename %}" controls loop>
                    <p>Your browser does not support the audio element </p>
                  </audio>
                {% elif 'html' in node.mime_type %}
                  <iframe id="html-res-iframe" width="100%" seamless="seamless" src="{% url 'read_file' group_name_tag node grid_fs_obj.filename %}">
                    <p>Your browser does not support the audio element </p>
                  </iframe>
                  {% elif 'pdf' in node.mime_type %}
                      <iframe width="100%" style="height:90vh;" src="/static/ndf/bower_components/pdfjs-build/generic/web/viewer.html?file={% url 'read_file' group_name_tag node grid_fs_obj.filename %}"></iframe>
                      <br/>
                      <a target="_blank" href="/static/ndf/bower_components/pdfjs-build/generic/web/viewer.html?file={% url 'read_file' group_name_tag node grid_fs_obj.filename %}">Full screen view</a>
                {% else %}
                  <a href="{% url 'read_file' group_name_tag node grid_fs_obj.filename %}">
                    {{ grid_fs_obj.filename }}
                  </a>
                {% endif %}       
            {% endif %}
            <!-- end of if 'image' in node.mime_type ... -->

          {% else %}
              {% if 'image' in node.mime_type %}
                <a class="th" href="{% url 'read_file' group_name_tag node grid_fs_obj.filename %}">
                  <img src="{% url 'get_mid_size_img' group_name_tag node.pk %}" /> 
                </a>
              {% elif 'Pandora_video' in node.member_of_names_list %}
                {% get_source_id node.pk as source_id %}
                <video width="500" poster="http://wetube.gnowledge.org/{{source_id}}/icon128.jpg" controls>
                  <source src="http://wetube.gnowledge.org/{{source_id}}/480p.webm" type="video/webm"> 
                  {% trans "Your browser does not support the video tag." %}
                </video>  
              {% elif 'video' in node.mime_type %}
                <video width="768" height="432" class="video-js vjs-default-skin vjs-big-play-centered" data-setup='{ "autoplay": false, "preload": "metadata" }' poster="{% url 'getvideoThumbnail' group_name_tag node %}" controls buffered>
                  <source src="{% url 'getFullvideo' group_name_tag node %}" type="video/mp4">
                  <source src="{% url 'getFullvideo' group_name_tag node %}" type="video/webm">
                  <source src="{% url 'getFullvideo' group_name_tag node %}" type="video/ogg">    
                  {% trans "Your browser does not support the video tag." %}
                </video>
              {% elif 'audio' in node.mime_type %}
                <audio src="{% url 'read_file' group_name_tag node grid_fs_obj.filename %}" controls loop>
                  <p>Your browser does not support the audio element </p>
                </audio>
              {% elif 'html' in node.mime_type %}
                <iframe id="html-res-iframe" width="100%" seamless="seamless" src="{% url 'read_file' group_name_tag node grid_fs_obj.filename %}">
                  <p>Your browser does not support the audio element </p>
                </iframe>
              {% elif 'pdf' in node.mime_type %}
                <iframe width="100%" style="height:90vh;" src="/static/ndf/bower_components/pdfjs-build/generic/web/viewer.html?file={% url 'read_file' group_name_tag node grid_fs_obj.filename %}"></iframe>
                <br/>
                <a target="_blank" href="/static/ndf/bower_components/pdfjs-build/generic/web/viewer.html?file={% url 'read_file' group_name_tag node grid_fs_obj.filename %}">Full screen view</a>
              {% else %}
                <a href="{% url 'read_file' group_name_tag node grid_fs_obj.filename %}">
                  {{ grid_fs_obj.filename }}
                </a>
              {% endif %}

          {% endif %}
          

          {% if user.is_authenticated %}
            <br/>
            <br/>
            {% if 'Pandora_video' in node.member_of_names_list %}
              <a class="button small secondary" href="http://wetube.gnowledge.org/{{video_obj}}/480p.webm" download="480.webm">
            {% elif 'video' in node.mime_type %}
              <a class="button small secondary" href="{% url 'getFullvideo' group_name_tag node %}" download="{{ grid_fs_obj.filename }}">
            {% else %}
              <a class="button small secondary" href="{% url 'read_file' group_name_tag node grid_fs_obj.filename %}" download="{{ grid_fs_obj.filename }}">
            {% endif %}
                <span class="fi-download large"> {% trans "Download " %} </span>
              </a>
            
          {% endif %}

          <!-- End New -->          
    
        {% endif %}
        
        {% block add_fields %} {% endblock %}

        <ul class="inline-list">
          {% if user.is_authenticated %}
          {% block add_list %}{% endblock %}
          {% endif %}
        </ul>

        {% for tab_name, tab_fields_list in property_order_list %}
          {% for field in tab_fields_list %}
          <div class="row">
            <div class="small-3 columns"> 
              <label>{{field.altnames}}</label>
            </div>
            <div class="small-7 end columns">
              {% if field.type == "RelationType" %}
                {% if field.value|length > 5 %}
                  <a href="#" id="{{field.altnames}}">{{field.value|length}}</a>

                {% else %}
                {% for n in field.value %}
                  <a href="#">{{n.name|default_if_none:"--"|title}}</a><br/>
                {% endfor %}

                {% endif %}
              {% else %}
                <label>{{field.value|default_if_none:"--"|title}}</label>
              {% endif %}
            </div>
          </div>
          <br>
          {% endfor %}
        {% endfor %}
      
        <!-- <div id="commentable-area"> -->
        <div>
          {% with node.html_content|safe as description %}
          {% if description != "None" %}
          <span itemprop="{{schema.1.description}}">{{ description }}</span>
          {% endif %}
          {% endwith %}
        </div>
        <br/>
	<div>
         {% if node.prior_node|length > 0 %}
   
         {% for index_key, each_node in node.prior_node_dict.items %}
         {% get_grid_fs_object each_node as grid_fs_obj %}
         {% if "Group" in node.member_of_names_list %}
         {% get_object_value node as objvalue %}
	    <table style="width:60%; border-width:0px;" >
	      <tbody>
		{% for key, value in objvalue.items %}
		<tr>
		  {% if key == "Website" %}
		  <td align ="left"> {{key}}</td>  
		 <td align = "right"><a href="{{value}}">{{value}}</a> </td>
                  {% else %}
		  <td align ="left"> {{key}}</td>  
		  <td align = "right">{{value}}</td>
		  {% endif %}
		</tr>
	{% endfor %}
	      <tbody>
	    </table>
              {% endif%}
	    {% endfor %}
            {% endif %}

	</div>
        <!-- </div> -->
        <!-- Resource contents of topic -->

        {% if topic %}
          <!-- <div class="content" id="view-graph">  </div> -->

          
          <div class="topic_content" id="contents"> 
            {% get_contents node.pk None None as contents %}
            {% for k,v in contents.items %}    

              <fieldset id="{{k}}">
                <legend>{{k}}</legend>

                {% for e in v %}
                  {% if k == "Images" %}
                      <a href ="{% url 'image_detail' group_name_tag e.1 %}" style="display: inline-block">
                        <img src="{% url 'getFileThumbnail' group_name_tag e.1 %}" />  
                        <br/><div>{{e.0}}</div>
                      </a>&nbsp;&nbsp;&nbsp;&nbsp;

                  {% elif k == "Videos" %}
                      <a href ="{% url 'video_detail' group_name_tag e.1 %}" style="display: inline-block">
                        <img src="{% url 'getFileThumbnail' group_name_tag e.1 %}">
                        <br/><div>{{e.0}}</div>
                      </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                  {% else %}
                      <a href ="{% url 'file_detail' group_name_tag e.1 %}"> {{e.0}} </a>&nbsp;&nbsp;&nbsp;
                  {% endif %}
                  
                {% endfor %}
              </fieldset>

            {% endfor %}          
          </div>

        {% endif %}
        <!-- End of displaying topic page contents -->
      </div>

      {% if "Topic" in node.member_of_names_list or "Concept" in node.member_of_names_list %}
        <!-- Below code/widgets will only be shown for all resource instances/documents
             which are neither Topic nor Concept
        -->

        <!-- Content for Concept Graph -->
        <div class="content reveal-modal graph-div" id="view-concept-graph" data-reveal>
          <a class="close-reveal-modal" id="closeviewconceptgraph">&#215;</a>
          <!-- {#% include "ndf/graph_concept.html" %#} -->
        </div>

        <div id="view-levels" style="display:none;">
          ghtr
        </div>
        
        <!-- Content for Collection Graph -->
        {% if node.collection_set %}
          <div class="content reveal-modal graph-div" id="view-collection-graph" data-reveal>    
            <a class="close-reveal-modal">&#215;</a>
            {% include "ndf/graph_collection.html" %}
          </div>
        {% endif %}

        <!-- Content for dependency Graph -->
        {% if node.prior_node %}
          <div class="content reveal-modal graph-div" id="view-dependency-graph" data-reveal>    
           <a class="close-reveal-modal">&#215;</a>
           {% include "ndf/graph_dependency.html" %}
          </div>
        {% endif %}
       
        <!-- Tab View Map Widget -->
        <div class="content reveal-modal graph-div" id="view-map-widget" data-reveal>
          <!-- #{#%# if '/details/' in request.path  or '/image_detail/' in request.path  or '/video_detail/' in request.path%} -->
          <a class="close-reveal-modal" >&#215;</a>
          <!-- {#% include "ndf/map_widget.html" with mode="read" %#} -->
          <!-- <div style="background-color:gray; width:100%; height:80%;"></div> -->
          <!-- #{#%# endif %} -->
        </div>
        
      {% endif %}
      <div id="view-info" style="display:none;">
       <br/>
	<table style="width:100%; border-width:0px; font-weight:bold" >
	  <tbody>
	    {% get_json node.pk as jsonobj %}
	    {% str_to_dict jsonobj as obj %}
    
	    {% for key, value in obj.items %}
	    <tr>
	      <td align ="left"> {{key|del_underscore|title}}</td>
              
	      <td align = "right"> 
		{% if "None" not in value %}
		{% if key|is_in:"attribute_set, file_size, relation_set" %}
	     
		{% for k, v in value.items %}
		{{k}} : {{v}}<br/>
		{% endfor %}
		{% elif key|is_in:"group_set ,collection_set, member_of, tags, prior_node, post_node" %}
		{% for each in value %}
		{{each}}</br>
	    	{% endfor %}
		{% else %}
		{{value}}
		{% endif %}
	      </td>
	      {% else %}	     
	      {{value}}</td>
             {% endif %}
	    </tr>
	    {% endfor %}
	  <tbody>
	</table>


     </div>

      <div id="view-discussion" style="display:none;">
      <!-- discussion content area -->
        {% include 'ndf/discussion.html' %}
      <!-- END of discussion content area -->     
      </div>

    </div><!-- end of tab's content -->
  </section>
  
</div>

<footer>

  <p><small>
    <em>{% trans "Created by" %} {{ node.user_details_dict.contributors|join:', ' }}</em>
  </small></p>
</footer>
      
<!-- schema ends here -->


  <!-- end new -->

</section>



<section class="medium-3 columns"> 

  <!-- Modal links for associated views like graphs and map-->
  <ul class="side-nav">
    <div class="panel" style="background-color:#ddd;">

      {% user_access_policy groupid request.user as user_access %} 
      
      {% if user.is_authenticated %}
      <b>{% trans "Actions" %}</b><br/>
      <div class="row">         
        <div class="medium-6 columns">
          
          {% edit_policy groupid node request.user as status %}
          {% if user.is_authenticated and status == "allow" and user_access == "allow" %}
            {% get_edit_url node.pk as edit_url %}

            {% check_group node as is_group %}
            {% if is_group %}
              {% check_is_gstaff groupid request.user as is_gstaff %}
              {% if is_gstaff %}
              <a href="{% url edit_url group_name_tag %}" class="tiny round button edit"><i class="fi-pencil"></i> {% trans "Edit" %}</a>
              {% endif %}

            {% else %}
              {% if user_is_joined == "joined" or user_is_joined == "author" %}
                <a href="{% url edit_url group_name_tag node %}" class="tiny round button edit"><i class="fi-pencil"></i> {% trans "Edit" %}</a>
              {% endif %}
            {% endif %}
          {% endif %}
        </div>
        <div class="medium-6 columns">

          <!-- This button publishes the drafted resource -->
          {% if node %}
            {% get_publish_policy request groupid node as group_policy %}
            {% if group_policy == "allow" %}

              {% if is_group %}
                {% if user.is_superuser or node.created_by == user.id %}
                  <a href="{% url 'publish_group' group_name_tag node %}" class="tiny round button edit">{% trans "Publish" %}</a>
                {% endif %}
              {% else %}
                <a href="{% url 'publish_page' group_name_tag node %}" class="tiny round button edit">{% trans "Publish" %}</a><br/>
              {% endif %}
            
            {% else %}
              <a class="tiny round button edit" style="background-color:gray;" disabled>{% trans "Published" %}</a>
            {% endif %}
          {% endif %}

        </div>
        
        <br/><br/>
        <div class="medium-5 columns">
        <!-- Delete button if page created by user -->
          {% if node.created_by == request.user.id %}
            {% if node.member_of_names_list.0 == "Page" %}
              <a class="tiny alert round button" href="{% url 'page_delete' group_name_tag node %}">{% trans "Delete" %}</a>
            {% elif node.member_of_names_list.0 == "Term" %}
              <a class="tiny alert round button" href="{% url 'term_delete' group_name_tag node %}">{% trans "Delete" %}</a>
            {% endif %}
          {% endif %}
        </div>
        <div class="medium-7 columns">
          {% get_create_url node.pk as create_url %}
          {% if is_group %}
            
            {% if user_access == "allow" %}
              {% if request.user.is_superuser %}
              <li>
                <a href="{% url create_url group_name_tag %}" class="tiny round button">
                  <span class="fi-plus">&nbsp;&nbsp; New Group</span>
                </a>
              </li>

              {% endif %}
            {% endif %}
            

          {% else %}
            
            {% if user_is_joined == "joined" or  user_is_joined == "author" %}

              {% if node.member_of_names_list.0 == "File" %}
                <a href="{% url create_url group_name_tag %}?next={{request.path}}" class="tiny round button">
                  <span class="fi-upload">&nbsp;&nbsp; {% trans "New" %} {{node.member_of_names_list.0}}</span>
                </a>

              {% else %}
                {% if node.member_of_names_list.0 == "Theme" or node.member_of_names_list.0 == "Topic" %}
                  <a href="{% url create_url group_name_tag app_id %}" class="tiny round button">
                    <span class="fi-plus">&nbsp;&nbsp; {% trans "New" %} {{node.member_of_names_list.0}}</span>
                  </a>
                {% elif node.member_of_names_list.0 == "Term" %}
                  <a href="{% url create_url group_name_tag %}" class="tiny round button">
                    <span class="fi-plus">&nbsp;&nbsp; {% trans "New" %} Topic</span>
                  </a>
                {% else %}
                  <a href="{% url create_url group_name_tag %}" class="tiny round button">
                    <span class="fi-plus">&nbsp;&nbsp; {% trans "New" %} {{node.member_of_names_list.0}}</span>
                  </a>
                {% endif %}

              {% endif %}
            {% endif %}
          {% endif %}

        </div>

        

        {% if node %}
          {% check_group node as is_group %}
          {% if is_group %}

            {% get_group_policy node request.user as policy %}
            {% get_prior_post_node group_id as groupname %}

            <input type="hidden" id="groupname" value="{{node}}">
            {% if user.is_authenticated %}
              {% if user_access == "allow" %}
               {% if user.is_superuser %}
                  <li>
                    <a href="{% url 'create_sub_group' group_id %}" class="tiny round button">
                    <span class="fi-plus">&nbsp;&nbsp; {% trans "New SubGroup" %}
                    </a>
                  </li>
               {% endif %}
              {% endif %}
            {% if user_is_joined == "joined" %}
              {% if is_user_group and node.created_by != request.user %}
              <li><input class="tiny round button" type="submit" id="notify" value="Stop following"> </li>

              {% else %}
              <li><input class="tiny round button" type="submit" id="notify" value="Unsubscribe"></li>
              {% endif %} 

            {% elif user_is_joined == "not" or not user.is_authenticated %}
              {% if is_user_group and node.created_by != request.user %}
              <li><input class="tiny round button" type="submit" id="notify" value="Follow"></li>

              {% else %}
              <li><input class="tiny round button" type="submit" id="notify" value="Join"></li>
              {% endif %}

            {% endif %}

            {% endif %}

            <!-- Triggers the modals -->
            <li><a href="#" id ="btn_list_member" data-reveal-id="firstModal">{% trans "List Members" %}</a></li>

            <!-- Reveal Modals begin -->
            <div id="firstModal" class="reveal-modal" data-reveal></div>

            {% check_is_gstaff groupid request.user as is_gstaff %}
            {% if is_gstaff %}
              {% include "ndf/invite_users.html" %}

              {% include "ndf/invite_admins.html" %}
            {% endif %} 
          {% endif %}
        {% endif %}

      </div>      
      {% endif %}

      <!-- This button converts collection into module -->
      {% comment %}
      {% if node.collection_set and user.is_authenticated %}
        {% if user_access == "allow" %}
         <a href="#" id="module" class="tiny round button">{% trans "Make Module" %}</a>
        {% endif %}
      {% endif %}
      {% endcomment %}


  {% if "Topic" in node.member_of_names_list or "Concept" in node.member_of_names_list %}
    <!-- Below code/widgets will only be shown for all resource instances/documents
         which are neither Topic nor Concept
    -->
    <!-- <li><a data-reveal-id="view-map-widget"><i class="fi-marker"></i> {#% trans "Location" %#}</a></li> -->

    <li><a href="#" data-dropdown="graph-list" data-options="is_hover:true;align:left"><i class="fi-share"></i> {% trans "Graphs" %}</a>
    </li>

    <ul id="graph-list" class="f-dropdown" data-dropdown-content>
      <li><a href="#view-concept-graph" data-reveal-id="view-concept-graph" id="clickConceptGraph">{% trans "Concept Graph" %}</a></li>

      {% if node.collection_set %}
      <li><a href="#view-collection-graph" data-reveal-id="view-collection-graph">{% trans "Collection Graph" %}</a></li>
      {% endif %}

      {% if node.prior_node %}
      <li><a href="#view-dependency-graph" data-reveal-id="view-dependency-graph">{% trans "Dependency Graph" %}</a></li>
      {% endif %}               
    </ul>
  {% endif %}

    <!-- 
    <li>
      <a id = "toggleContainer"  href="#" onClick="toggle(this);">
        <i class="fi-comments annotateIcon"></i> {% trans "Annotate" %}
      </a>
    </li> 
    --> 
    
    <br/>
    <div class="label-list"> 
      <b>{% trans "Tags" %}</b><br/>
      {% if node.tags %}
        {% for tag in node.tags %}
          <a href="{% url 'tag_info' groupid tag %}"><span class="label">{{tag}}</span></a>
          <span itemprop="{{schema.1.tags}}" content="{{tag}}"></span>
        {% endfor %}
      {% else %}
        <span class="label">{% trans "No tags defined" %}</span>
      {% endif %}

    </div><hr/>

    <div>
    {% include "ndf/rating.html" %} 
    </div><br/>

    <div>
      <ul class="side-nav">
        <li><b>{% trans "In other languages" %}</b></li>
        {% get_possible_translations node as tran %}
        {% for each in tran %}
          {% for k,v in each.items %}
          <li><a href="{% url 'page_details' groupid k %}">{{v}}</a></li>
          {% endfor %}
        {% endfor %}
          
        <!-- This button translates given resource -->
        {% if user.is_authenticated %}
          {% if user_is_joined == "joined" or user_is_joined == "author" %}
            <li>
              <a href="{% url 'node_translation' group_name_tag node %} ">{% trans "Translate" %}</a>
            </li>
          {% endif %}
        {% endif %}
      </ul>
    </div>

    {% if user.is_authenticated %}
    {% switch_group_conditions request.user group_id as switch_conditions %}
        {% if node %}
            {% check_group node as is_group %}
          {% endif %}

    {% if not is_group %}
        <div class="row">
        <div class="small-12 columns">

          <a id="switch_group" class="tiny button" data-reveal-id="publish_resource"> 
              <span>{% trans "Publish this resource in other group/s" %} </span> 
            </a>
            <div id="publish_resource" class="reveal-modal" data-reveal style="height:500px;overflow:scroll;"> 

              <div id="switchgrp" class="content">
                <h4>{% trans "Select Groups" %}</h4>
                <div id="group_drawer">
                  {% include "ndf/drawer_widget.html" with widget_for="collection_set" %}
                </div><br/>
                <input type="button" id="save_switch_group" class="round button push-4" value="Save selected group">
              </div>

              <a class="close-reveal-modal">&#215;</a>

            </div>          
          
        </div>
        </div>
      {% endif %} 
    {% endif %}

    </div>
  </ul>

  {% if "video" in node.mime_type %}
    <link rel="stylesheet" href="/static/ndf/bower_components/videojs/dist/video-js/video-js.min.css">
    <script src="/static/ndf/bower_components/videojs/dist/video-js/video.js"></script>
    <script type="text/javascript">
      videojs.options.flash.swf = "/static/ndf/bower_components/videojs/dist/video-js.swf"
    </script>
  {% endif %}

</section>

<script type="text/javascript">

  // publishing resource in other groups
  var data_list = ""
  var saveflag = 0
  function get_new_groups(){
    $.each($('#switchgrp #collection_set_drawer2 li'),function(index,item){
           data_list=data_list+String(item.id)+",";
    });
  }

  $(document).on('click',"#switch_group",function(){
    $('#switchgrp #collection_set_drawer1').html("");
     $('#switchgrp #collection_set_drawer2').html("");
     $('#switchgrp #collection_set_drawer1').html('<li class="price"><input type="text" placeholder="Type here to search in the resources" id="collection_set_search" class="margin-0"></li>');
      var url='/{{groupid}}/group/switch_group/'+'{{node}}';
      $.getJSON( url, function( data ) {
        $.each(data ,function(index , drawer_elements){
        
         if(index == 0)
          {
           $.each(drawer_elements.drawer1, function(index, element) {
              $('#switchgrp #collection_set_drawer1').append("<li id='"+element.id+"' class='bullet-item text-left'>"+element.name+"</li>");
            });
          }
          if(index == 1)
          {
            $.each(drawer_elements.drawer2, function(index, element) {
              $('#switchgrp #collection_set_drawer2').append("<li id='"+element.id+"' class='bullet-item text-left'>"+element.name+"</li>");
            });
          }

        });
      });

  });

  $(document).on('click',"#save_switch_group",function(){
    var turl='/{{groupid}}/group/switch_group/'+'{{node}}';
    saveflag = 1;
    get_new_groups();
    new_groups=data_list;
    $.ajax({
           url: turl,
           type: 'POST',
           data: {new_grps:new_groups,csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function(data){
                           alert("Successfully switched groups");
                
               },
    }); //end of ajax

  }); //end of document click

  // Taken value of svg data of that node globally
  var svgdata;
  $(document).ready(function() {
      $(function() {
        // For topic node landing page concept svg graph commented for time being
        // svgdata = $('#chart-concept svg');
        // $('#view-graph').append(svgdata);

      });
  });

  // on click of concept 
  $(document).on('click','#clickConceptGraph',function(){
    $('#view-concept-graph #chart-concept').append(svgdata); 
    $('#view-concept-graph').foundation('reveal', 'open'); 
  });

  // select particular type to display contents in topic page
  $(".view_list").click(function() {
    
    $("#view-elements").css("display", "none");  // 'ul' and 'li' should be disabled after selection

    var selected = this.id;
    var choice = this.title;

    $.ajax({
      type: "POST",
      url: "{% url 'get_topic_contents' groupid %}",
      datatype: "html",
      data:{
        node_id: '{{node.pk}}',
        selected: selected,
        choice: choice,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(data) { 

        data_obj = JSON.parse(data);

        if (data != "{}"){
          var k = Object.keys(data_obj); // To get the keys from incomming data
          if (selected){
            fs = "<b><i><u>Resources with "+ selected + ": " + choice +"  </u></i></b><br/>"  // Fieldset for one element
          }
          else{
            fs = ""  // Fieldset for one element
          }

          // For loop the list of keys to evaluate values
          for (var m = 0; m < k.length; m++) { 
            var key = k[m];  
            var len = data_obj[key].length;  // length of list as a value of key
            cont_list = ""  // variable to create html data to show the thumbnail and url

            // For loop the list of values for key defined in a list(eg: for list of images, videos)
            for (var i = 0; i < len; i++) { 
              var res_id = data_obj[key][i][1]
              if (key == "Images"){
                cont_list += "<a data-id="+res_id+" href='{% url 'image_detail' group_name_tag 'replace_with_id' %}' style='display: inline-block'><img data-id="+res_id+" src='' data-src='{% url 'getFileThumbnail' group_name_tag 'replace_with_id' %}' /> <br/><div>"+data_obj[key][i][0]+"</div></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";
              }
              else if(key == "Videos"){
                cont_list += "<a data-id="+res_id+" href='{% url 'video_detail' group_name_tag 'replace_with_id' %}' style='display: inline-block'><img data-id="+res_id+" src='' data-src='{% url 'getFileThumbnail' group_name_tag 'replace_with_id' %}' /> <br/><div>"+data_obj[key][i][0]+"</div></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";
              }
              else{
                cont_list += "<a data-id="+res_id+" href='{% url 'file_detail' group_name_tag 'replace_with_id' %}' style='display: inline-block'>"+data_obj[key][i][0]+"</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";
              }
            } 

            // fs variable will contain the contents list for a topic each time this variable will append with new values
            fs = fs + "<fieldset> <legend>"+key+"</legend>"+ cont_list +"</fieldset>";

          }

          $(".topic_content").html(fs); // render the html data 'fs' in topic contents div

          // Both bellow statements will take the variable values used in above html code and replace with required attributes 
          $("a[data-id]").each(function(){var res_link = this.href.replace("replace_with_id", $(this).attr("data-id")); this.href=res_link;
          })
          $("img[data-id]").each(function(){
            var tempSrc = $(this).attr("data-src");  
            // 'src' identified by browser when it finds <img> tag and very first time we take temp variable to store the resource id 
            // and then replace that temp variable in 'src' variable to get the value for 'replace_with_id' variable 
            var res_link = tempSrc.replace("replace_with_id", $(this).attr("data-id"));
            this.src=res_link;
          })
          
        }
        else{
          // If no resource found for topic it will show bellow statement
          var cont = "<h3>No resources available with '"+ selected + ": " + choice +"' in this topic</h3>"
          $(".topic_content").html(cont);
        }

        // After successfull return of data in success just enable the 'ul' and 'li' for filtering options
        $("#view-elements").css("display", "block");
      }
    });

  });

  $(document).on('click','.view-discussion',function(){
    $("#view-page").css("display", "none");
    $("#view-info").css("display", "none");
    $("#view-filters").css("display", "none");
    $(".filters-view").removeClass("active");
    $(".page-view").removeClass("active");
    $(".info-view").removeClass("active");
    $(".discussion-view").addClass("active");    
    $("#view-discussion").css("display", "block");

  });

  $(document).on('click','.view-info',function(){
    $("#view-page").css("display", "none");
    $("#view-discussion").css("display", "none");
    $("#view-info").css("display", "none");
    $("#view-filters").css("display", "none");
    $(".filters-view").removeClass("active");
    $(".page-view").removeClass("active");
    $(".discussion-view").removeClass("active");    
    $(".info-view").addClass("active");    
    $("#view-info").css("display", "block");

  });

  $(document).on('click','.view-filters',function(){
    $("#view-discussion").css("display", "none");
    $("#view-info").css("display", "none");
    $(".discussion-view").removeClass("active");
    $(".info-view").removeClass("active");
    $(".page-view").removeClass("active");    
    $(".filters-view").addClass("active");
    $("#view-page").css("display", "block");
    $(".topic_content").css("display", "block");
    $("#view-filters").css("display", "block");

  });

  $(document).on('click','.view-page',function(){
    $("#view-discussion").css("display", "none");
    $("#view-info").css("display", "none");
    $("#view-filters").css("display", "none");
    $(".filters-view").removeClass("active");
    $(".discussion-view").removeClass("active");
    $(".info-view").removeClass("active");
    $(".page-view").addClass("active");    
    $("#view-page").css("display", "block");
  });

  $(document).on('dblclick','.imgLightbox',function(){
    var img_node = $(this).attr('name');
    location.href = "/{{group_name_tag}}/image/details/"+img_node;
  });

  $(document).on('close', '#view-concept-graph[data-reveal]', function () {
    $('#view-graph').append(svgdata);
  });
  

//   $(document).on('open', '#view-map-widget[data-reveal]', function () {  
    
//     $.ajax({
//   url: "{#% url 'get_visited_location' groupid %#}",
//   success: function(data){ 

//     data = JSON.parse(data);

//     var lastVisitedLocationVal = data;
    
//     if(lastVisitedLocationVal){

//       if(lastVisitedLocationVal == "[]"){
//         lastVisitedLocationVal = JSON.parse(lastVisitedLocationVal);
//       }

//       if(lastVisitedLocationVal.length > 0){
//             // lastVisitedLocationVal = JSON.parse(lastVisitedLocationVal);
//             var zoom = lastVisitedLocationVal.pop(),
//                 lng = lastVisitedLocationVal[1],
//                 lat = lastVisitedLocationVal[0];
//               map.setView([lat, lng], zoom);
//             }
//     }
//     else if( tempArr.length )
//     {
//       var group = new L.featureGroup(tempArr)
//           map.fitBounds(group.getBounds());
//     }

//   }
// });

//   });


//   $(document).on('opened', '#view-map-widget[data-reveal]', function () {  
      
//     map.invalidateSize();  

//     // var lastVisitedLocationVal = $('input:hidden[name=last_visited_location]').attr("value");
//     // if(lastVisitedLocationVal){

//     //   if(lastVisitedLocationVal == "[]"){
//     //     lastVisitedLocationVal = JSON.parse(lastVisitedLocationVal);
//     //   }

//     //   if(lastVisitedLocationVal.length > 0){
//     //         lastVisitedLocationVal = JSON.parse(lastVisitedLocationVal);
//     //         var zoom = lastVisitedLocationVal.pop(),
//     //             lng = lastVisitedLocationVal[1],
//     //             lat = lastVisitedLocationVal[0];
//     //           map.setView([lat, lng], zoom);
//     //         }
//     // }


//     // if( tempArr.length )
//     // {
//     //   var group = new L.featureGroup(tempArr)
//     //       map.fitBounds(group.getBounds());
//     // }

//     // map.setView([lat, lng], zoom);

//   });

  // iframe for html content  
  function adjustIframeHt(){

    var iframeBodyHt = $("iframe#html-res-iframe").contents().find("body").height();
    $("iframe#html-res-iframe").height(iframeBodyHt + 50);
    
    var changedHt;
    
    setTimeout(function(){

      changedHt = $("iframe#html-res-iframe").contents().find("body").height();
      if(changedHt > iframeBodyHt) { adjustIframeHt() }

    }, 4000 );
    
  }

  $("document").ready(function(){

    setTimeout(function() { adjustIframeHt() },3000) 

    // making <a> disabled of images in html pages in iframe
    var imgInIframe = $("iframe#html-res-iframe").contents().find("img");
    
    imgInIframe.each(function(){
      
      var tempImgAnchor = $(this).parent("a");

      // additional check if parent is <a> and if it contains url pattern: "/gstudio/resources/images/show/"
      if(tempImgAnchor.is("a") && $(tempImgAnchor).attr("href").trim().contains("/gstudio/resources/images/show/"))
      {
        tempImgAnchor.attr("href", "");
        tempImgAnchor.on("click", function(e){ e.preventDefault(); } ) 
      }
    
    })

  });
  
</script>
