{% extends "ndf/base.html" %}
{% load i18n %}

{% load ndf_tags %}
{% load pagination_tags %}

{% get_group_name groupid as group_name_tag %}


{% block title %} {{ title }} {% endblock %}

{% block head %}  

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <!-- Scripts required for D3 graph -->
  <script type="text/javascript" src="/static/ndf/bower_components/d3/d3.min.js"></script> <!-- checked -->
  <script type="text/javascript" src="/static/ndf/bower_components/underscore/underscore.js"></script> <!-- checked -->
  <script sync="text/javascript" src="/static/ndf/bower_components/FileSaver/FileSaver.js" ></script> <!-- checked -->

  <link href="/static/ndf/bower_components/jqtree/jqtree.css" rel="stylesheet"> 
  <script src="/static/ndf/bower_components/jqtree/tree.jquery.js"></script> <!-- checked -->
  
  <script type="text/javascript">
    $(document).ready(function() {
    	$(function() {
    		
    		var $tree = $('.themes');
    		var user = "{{user.is_authenticated}}";
    		var unfold = "{{unfold}}";

    		if(unfold == "true"){
    			unfold = true
    		}
    		else{
    			unfold = false
    		}

			$tree.tree({
    			autoOpen: unfold,

        		onCreateLi: function(node, $li) {
						
					if (node.node_type == "Topic"){
						$li.find('.jqtree-title').before('&nbsp <span class="fi-page"></span> &nbsp;');				        	
					}
					else{
						$li.find('.jqtree-title').before('&nbsp <span class="fi-folder" style="color:orange"></span> &nbsp;');				        		
					}

        			if (user == "True")
        			{   
        				if (node.node_type == "Topic"){
        					$li.find('.jqtree-element').append(
	        					{% user_access_policy groupid request.user as user_access %}
	        					{% if user_access == "allow" %}

	                				'&nbsp;&nbsp;<a id="top" class="topic" href="/{{groupid}}/topics/'+node.id+'/"> </a>' 

	                			{% endif %}
	            			);	            			

        				}
        				else{
        					
        					$li.find('.jqtree-element').append(
	        					{% user_access_policy groupid request.user as user_access %}
	        					{% if user_access == "allow" %}

	                				'&nbsp;&nbsp;<a href="/{{groupid}}/topics/'+node.id+'/"> <i class="fi-pencil edit"></i></a> &nbsp;&nbsp; <a id='+node.id+' class="objectsCheckbox"> <input type="checkbox"> </a>' 
	                			
	                			{% endif %}
            				);

        				}
        					
        			}           		

        		}

    		});
			
    		// bind 'tree.click' event
			$tree.bind(
			    'tree.click',
			    function(event) {
			        // The clicked node is 'event.node'
			        var node = event.node;
			        
			        // If its topic node i.e no children of this node then show the detail view for topic
			  		if( node.children[0] == null ){

			  			if (node.node_type == "Topic"){
			  				location.href = "/{{group_name_tag}}/topic_details/"+node.id+"";

			  			}
				        
			  		}
			  		
			    }
			);

			$tree.bind(
			    'tree.contextmenu',
			    function(event) {
			        // The clicked node is 'event.node'
			        var node = event.node;
			        {% user_access_policy groupid request.user as user_access %}
	        		{% if user_access == "allow" %}
				        var msg = confirm("Do you want to delete this topic ?");
				        if (msg == true) {

				        	$.ajax({
				            	url: "{% url 'delete_themes' groupid %}",
				             	type: 'POST',
				             	data:{
				             		deleteobj: node.id,
				             		csrfmiddlewaretoken: '{{ csrf_token }}'
				             	},
				             	success: function(result){
				             		alert("Topic "+node.name+" deleted successfully");
				             		location.reload(true);
				             	},
				             	
				            });

						}
					{% endif %} 

			    }
			);
                     

    	});
    });

  </script>

  <style>
  	#app-set-item li { padding:0.5em }

	.jqtree-closed > .jqtree-element i.icon-folder-open:before {
        content: "\f07b";
    }
    .jqtree-tree i {
        margin-right: 4px;
    }
    /* for reingold tilford tree */
/*
	.node {
	  cursor: pointer;
	}

	.node circle {
	  fill: #fff;
	  stroke: green;
	  stroke-width: 1.5px;
	}

	.node text {
	  font: 12px sans-serif;
	}

	.link {
	  fill: none;
	  stroke: #ccc;
	  stroke-width: 1.5px;
	}
	*/
	/* for reingold tilford tree -- end */

	.node {
    cursor: pointer;
  }

  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
   
  .node text {
    font-size:10px; 
    font-family:sans-serif;
  }
   
  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }

/*  .templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
  }
*/
  .ghostCircle.show{
      display:block;
  }

  .ghostCircle, .activeDrag .ghostCircle{
       display: none;
  }

  </style>
{% endblock%}


{% block shelf_content %}
  {% if user.is_authenticated %}
    {% include "ndf/shelf.html" %}
  {% else %}
  <h4>Please Login to create your shelf</h4>
  {% endif %}  
{% endblock %}

{% block meta_content %}
{% if user.is_authenticated %}
{% user_access_policy groupid request.user as user_access %}

<ul class="no-bullet" id="app-set-item"> 

    {% get_memberof_objects_count theme_GST_id groupid as count %}
  
      <li class="selected-app-set-item"> 
        <div>
  		  {% if user_access == "allow" %}
          <a href="{% url "theme_topic_create" groupid theme_GST_id %}" style="float:right;color:#0b8a91;" title="Add Theme">
            +&nbsp;Add
          </a>
          {% endif %}

          <a href="{% url "theme_list" groupid app_id theme_GST_id %}" style="color:#0b8a91;">
            Theme ({{count}})
          </a> 

        </div>
      </li>
  
</ul>
<hr/>
<br/>

<ul class="no-bullet">
  	<li>
      	<div>
        	<a href="{% url 'topics' group_name_tag %}"> <input class="small button" type="button" value="Themes" > </a>
      	</div>
    </li>

  	<br/>
  
</ul>
{% endif %}
{% endblock %}


{% block body_content %}
{% user_access_policy groupid request.user as user_access %}
	
	<!-- This overlay is for displaying topic details from collapsible tree -->
	<!-- <div id="collaps_topic_details" class="reveal-modal" style="height:500px;overflow:hidden;width:80%" data-reveal>  
	  	<h3>Topic details comming soon !!!</h3>
    	<a class="close-reveal-modal" >&#215;</a> 
	</div> -->
	<!-- End of overlay -->

	{% if themes_hierarchy %}

		<h2> {{node.name}}</h2> 
		<div class="row">
		<div class="large-4 columns">

			{% if user_access == "allow" %}

	          <a class="button tiny" data-reveal-id="view_add_page" title="Add Theme Item">
	            +&nbsp;Add Theme Item
	          </a>

	          <div id="view_add_page" class="reveal-modal" data-reveal style="height:300px;"> 

	              <h3>Add New Theme Item:</h3>
	              <!-- To enter name of theme item -->
	              <div>
	                <input class="name_id" name="name" type="text" placeholder="Enter name...">
	              </div>   <br/>           

	              <input type="submit" id="add_theme_item" value="Save Theme Item" class="medium round button"/>

	              <a class="close-reveal-modal">&#215;</a>

	          </div>          
	        {% endif %}
	    </div>

        <div class="large-4 columns">

			<a data-dropdown="hover1" data-options="is_hover:true; hover_timeout:5000" class="tree_browser" style="border: 2px solid #0eacb5; padding: 5px;"><b> {% trans "Tree Browser" %} </b></a> &nbsp;&nbsp;&nbsp;
			<ul id="hover1" class="f-dropdown" data-dropdown-content>
				<li><a class="fold"><i class="fi-plus"></i> {% trans "Fold" %} </a></li> 
				<li><a class="unfold"><i class="fi-minus"></i> {% trans "Unfold" %} </a></li>  
			</ul> 
			
			<a class="collapsible_tree" style="border: 2px solid #0eacb5; padding: 5px;"><b> {% trans "Collapsible Tree" %} </b></a>

		</div>

		<div class="large-4 columns">
		{% if user.is_authenticated %}
    		{% if user_access == "allow" %}
    		
    			<input class="button tiny deleteObjects right" type="button" value="Delete">
    			<span class="right"><input class="checkedAll" type="checkbox"> Select All &nbsp;&nbsp;</span>

    			<div id="myModal" class="reveal-modal" data-reveal style="height:500px;overflow:scroll;"> 
        
			        <h3>{% trans "Are you sure you want to delete? All of the related items for the following themes also will be deleted:" %}</h3> 
			        
			        <input class="button confirmDeleteObjects" type="button" value="Confirm">
			        <input class="button cancelDeleteObjects" type="button" value="Cancel">
			        <div id="deletion_results"></div>
			        <a class="close-reveal-modal">&#215;</a>

		      	</div>		

    		{% endif %}
		{% endif %}
		</div>
		</div>
		<hr/>

		{% if node %}
			<!-- If "Theme" node -->
			<div id="app-set-item" class="themes" data-url="{% url 'get_tree_hierarchy' groupid node.pk %}"></div>	

			<!-- testing -->
			{% include 'ndf/theme_drag_zoom_d3tree.html' %}
			
		{% endif %}

	{% endif %}

	<!-- For displaying themes items -->
	{% if themes_cards  %}

	<h3 class="subheader">Themes</h3><hr/>
		<div class="content row" id="panel2-4">

		<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">

  		<!-- Existing card list-->
        {% get_preferred_lang request group_id nodes "Theme" as nodes %}
		{% group_type_info groupid request.user as grouptype %}
	  	{% for each in nodes %}

	      <li class="card">
	        {% if grouptype == "Moderated" %}
	          {% if each.status == "DRAFT" %}
	            <div class="draft page">
	          {% elif each.status == "PUBLISHED" %}
	            <div class="published page">
	          {% endif %}
	        {% else %}
	          <div class='{% if each.status == "PUBLISHED" %}published{% endif %} page'>
	        {% endif %} 

		      <a href="{% url 'theme_page' group_name_tag each.pk %}">
		      <div class="row">
            	<div class="small-10 columns">                             
	                <b>
	                  {{ each.name }}{% if each.collection_set %} <i class="fi-page-multiple"></i> {% endif %}
	                </b>
            	</div>
          	  </div>
		      <span style="font-size:12px;">{{ each.html_content|default_if_none:"Add some description."|safe|striptags|truncatechars:75 }}</span><br/>
		      
		      <footer>
		          <div class="age">
		            {{ each.member_of_names_list|join:', ' }} created {{each.created_at|timesince}} ago 
		            <br/>
		            by <span class="user" href="{% url 'dashboard' each.created_by %}" data-gnow="">{{each.user_details_dict.created_by}}</span> 
		          </div>
		        <span><strong>{{each.contributors|length}}</strong> Contributor{{each.contributors|pluralize}}</span>
		        <span class="right"><strong>{{each.version_dict|length}}</strong> Edit{{each.version_dict|pluralize}}</span>
          
      		  </footer>
      		  </a>

      		  <div class="label-list small-12 columns">
	            {% for tag in each.tags|slice:":3" %}
	              <a href="{% url 'tag_info' group_name_tag tag %}">
	                <span class="label" style="background-color:yellow">{{tag}}</span>
	              </a>
	            {% endfor %}
	          </div>

		      </div>
		    </li>  
	  
	  	{% endfor %}

		</ul>

		</div>


	{% endif %}

	{% if themes_list_items %}
		{% if nodes %}
      	{% autopaginate nodes 25 %}
    
      		<div id="myModal" class="reveal-modal" data-reveal style="height:500px;overflow:scroll;"> 
        
		        <h3>{% trans "Are you sure you want to delete? All of the related items for the following themes also will be deleted:" %}</h3> 
		        
		        <input class="button confirmDeleteObjects" type="button" value="Confirm">
		        <input class="button cancelDeleteObjects" type="button" value="Cancel">
		        <div id="deletion_results"></div>
		        <a class="close-reveal-modal">&#215;</a>

	      	</div>

      		{% if user.is_authenticated %}
      			{% if user_access == "allow" %}
        		<input class="button deleteObjects" type="button" value="Delete">
        		{% endif %}
      		{% endif %}
      
      		<form method="POST" style="float:right; margin-top:15px;padding-top:10px;">

		        {% csrf_token %}
		        <input name="search" type="textbox" value="" style="width:300px;">
		        <input type="hidden" name="class" value="{{class_name}}">
		        <input type="submit" value="search" style="width:100px;">

      		</form>
  		{% endif %}

	    <table >
	   		<thead>
	        <tr>
	    	
	       	{% if nodes %}

	            <th width="20">
	            	{% if user_access == "allow" %}
	            		<input class="checkedAll" type="checkbox">
	            	{% endif %}
	            </th>

	            <th width="150">{% trans "Title" %}</th>
	            <th width="150">{% trans "Created by" %}</th>
	            <th width="150">{% trans "Creation date" %}</th>
  		  		{% if user_access == "allow" %}
	            <th width="150">{% trans "Edit" %}</th>
	      		{% endif %}
	       	{% endif %}
	    
	       	</tr>
	      	</thead>
      
	      	<tbody>
	        {% for each in nodes %}
	       		<tr>
	        
	            <td  id="{{each.id}}" class="objectsCheckbox"> 
	            	{% if user_access == "allow" %}
	            		<input type="checkbox"> 
	            	{% endif %}
	            </td>
	            <td  class="name" style="font-size:11px;"><a href="">{{each.name}}</a></td>
	            <td  class="created_by" style="font-size:11px;">{{each.created_by}}</td>
	            <td  class="created_at" style="font-size:11px;">{{each.created_at}}</td>
  		  		{% if user_access == "allow" %}
	            <td  class="name" style="font-size:11px;"><a href="{% url "theme_topic_create" groupid each.id %}" class="button medium">Edit</a></td>

		    	<td  class="name" style="font-size:11px;">
			    	<a href="{% url "theme_topic_create" groupid each.id %}?translate=true" class="button medium">{% trans "Translate" %}</a>
			    	<!-- <a href="#" class="button medium" disabled>Translate</a> -->
		    	</td>	        
	        	{% endif %}     	       	       
 	
	          	</tr>
	          
	       	{% empty %}

	       		<h3>{% trans "No data to display" %}</h3>

	        {% endfor %}

	      	</tbody>
	  	</table>

    	{% paginate %}
	
	{% endif %}

	{% if create_edit %}
		{% if title == "Theme" or title == "Theme Item" %}
			{% include "ndf/theme_create_edit.html" %}
		{% else %}
			<!-- {#% include "ndf/topic_create_edit.html" %#} -->
		{% endif %}
	{% endif %}


	<script type="text/javascript">

// ------ jqtree tree ------

		$("#add_theme_item").click(function() {
		      $.ajax({
		        type: "POST",
		        url: "{% url 'add_theme_item' groupid %}",
		        datatype: "html",
		        data:{
		          context_theme: "{{node.pk}}",
		          name: $(".name_id").val(),
		          csrfmiddlewaretoken: '{{ csrf_token }}'
		        },
		        success: function(data) {

		          var item = $(".name_id").val();

		          if ($.trim(data) === "failure") {
		            alert("Theme item "+ item +" already available, Please choose different name");
		          }

		          if ($.trim(data) === "success") {
		            location.reload(true);
		          }

		          $(".name_id").val("");
		        }
		      });

		});

		// script for fold themes hierarchy
		$(".fold").click(function() {
			$(function() {				
				location.href = "{% url 'theme_page' group_name_tag app_id %}";
			});
		});

		// script for unfold themes hierarchy
	    $(".unfold").click(function() {
	    	$(function() {
	    		location.href = "{% url 'theme_page' group_name_tag app_id %}?unfold=true";	
	    	});
	    });	

	    $(".tree_browser").click(function() {
			$(function() {				
				location.href = "{% url 'theme_page' group_name_tag app_id %}";
			});
		});

	    // script for delete themes
	    $(document).on('click',".button.deleteObjects",function(){
	    	var selectedobject = $(".objectsCheckbox input:checked")

	    	if(selectedobject.length > 0)
	    	{
           		$('#myModal').foundation('reveal', 'open');

           		var i = 0;
             	var str = "";  
	            $.map(selectedobject,function(each){
	                if(i == 0)
	                {
	                	str = str.concat(each.parentElement.id)
	                }
	                else 
	                {
	                	str = str.concat(","+each.parentElement.id)
	                }
	                
	                i= i+1
	            })

           		$.ajax({
		            url: "{% url 'delete_themes' groupid %}",
		            type: 'POST',
		            data:{
		            	context_theme: "{{node.pk}}",
		            	deleteobjects: str,
		            	csrfmiddlewaretoken: '{{ csrf_token }}'
		            },
             		success: function(result){

             			$("#deletion_results").html("");
                        for(var obj in result)
                        {
	                  		var li = $("<ul><li><b>"+result[obj].title+"</b></li></ul>").appendTo($("#deletion_results"));
                        }

             		},
             	});

           	}
           	else
           	{
        		alert("select object to delete")
        	}

	    });

		// Script for delete themes after confirm delete.
		$(document).on('click',".button.confirmDeleteObjects",function(){
	        var selectedobject = $(".objectsCheckbox input:checked")

	        if(selectedobject.length > 0)
	        {
	            var i = 0;
	            var str = "";  

	            $.map(selectedobject,function(each){
	            	if(i == 0)
	            	{
	            		str = str.concat(each.parentElement.id)
	            	}
	                else 
	                {
	                	str = str.concat(","+each.parentElement.id)
	                }

	                i= i+1
	            });

	            $.ajax({
	            	url: "{% url 'delete_themes' groupid %}",
	             	type: 'POST',
	             	data:{
		            	context_theme: "{{node.pk}}",
	             		deleteobjects: str,
	             		confirm:"yes",
	             		csrfmiddlewaretoken: '{{ csrf_token }}'
	             	},
	             	success: function(result){
	             		alert("Themes deleted successfully");
	             		$('#myModal').foundation('reveal', 'close');
	             		location.reload(true);
	             	},
	             	
	            });
	             
	        }
	        else{
	        alert("select object to delete")
	        }

		});

		// Script for selecting all objects 
		$(document).on('click',".checkedAll",function(){
			if($(this).is(":checked")==true)
			{
				$('.objectsCheckbox input').prop( "checked", true );
			}
			else
			{
				$('.objectsCheckbox input').prop( "checked", false );
			}
		});

		// Script for cancel option for deleting themes
		$(document).on('click',".button.cancelDeleteObjects",function(){
             $('#myModal').foundation('reveal', 'close');
		});
// ------END of jqtree tree ------

// --- start of D3 collapsible tree ---

	    treeData = ""

	    $(".collapsible_tree").click(function() {

	    	if(treeData.length != 0)
	    	{
				plotCollapsibleTree(treeData)	    			
	    	}
	    	else{
	    		{% if node %}
			    $.getJSON("{% url 'get_tree_hierarchy' group_id node.pk %}?collapsible=true", function(data){ treeData = data;})
			    .done(function(){plotCollapsibleTree(treeData)});
			    {% endif %}
	    	}
		});
		
		function plotCollapsibleTree (treeData) {
			$(".themes").html("");

			var margin = {top: 20, right: 40, bottom: 20, left: 40},
			    width = Math.max($(".themes").width(), 960) - margin.right - margin.left,
			    height = Math.max($(".themes").height(), 800) - margin.top - margin.bottom;
			    
			var i = 0,
			    duration = 750,
			    root;

			var tree = d3.layout.tree()
			    .size([height, width]);

			var diagonal = d3.svg.diagonal()
			    .projection(function(d) { return [d.y, d.x]; });

			var svg = d3.select(".themes").append("svg")
			    .attr("width", width + margin.right + margin.left)
			    .attr("height", height + margin.top + margin.bottom)
			  	.append("g")
			    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

			{% if node %}
				// d3.json("{% url 'get_tree_hierarchy' group_id node.pk %}?collapsible=true", function(error, flare) {
				  root = treeData;
				  root.x0 = height / 2; // the point from where it starts it's animation.
				  root.y0 = 0;

				  function collapse(d) {
				    if (d.children) {
				      d._children = d.children;
				      d._children.forEach(collapse);
				      d.children = null;
				    }
				  }

				  root.children.forEach(collapse);
				  update(root);
				// });
			{% endif %}

			// d3.select(self.frameElement).style("height", "800px");

			function update(source) {

			  // Compute the new tree layout.
			  var nodes = tree.nodes(root).reverse(),
			      links = tree.links(nodes);

			  // Normalize for fixed-depth.
			  nodes.forEach(function(d) { d.y = d.depth * 150;});

			  // Update the nodes
			  var node = svg.selectAll("g.node")
			      .data(nodes, function(d) { return d.id || (d.id = ++i); });

			  // Enter any new nodes at the parent's previous position.
			  var nodeEnter = node.enter().append("g")
			      .attr("class", "node")
			      .attr("transform", function(d) { return "translate(" + source.y0 + "," + source.x0 + ")"; })
			      .attr("title", function(d) { return d.name; })
			      .on("click", click);

			  nodeEnter.append("circle")
			      .attr("r", 1e-6)
			      .style("fill", function(d) { return d._children ? "#10c1cb" : "#fff"; });

			  nodeEnter.append("text")
			      .attr("x", function(d) { return d.children || d._children ? -10 : 10; })
			      .attr("dy", "0.35em")
			      .attr("text-anchor", function(d) { return d.children || d._children ? "end" : "start"; })
			      .text(function(d) { return d.name; })
			      .style("fill-opacity", 1e-6);

			  // Transition nodes to their new position.
			  var nodeUpdate = node.transition()
			      .duration(duration)
			      .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });

			  nodeUpdate.select("circle")
			      .attr("r", 6.5)
			      .style("fill", function(d) { return d._children ? "#10c1cb" : "#fff"; });

			  nodeUpdate.select("text")
			      .style("fill-opacity", 1);

			  // Transition exiting nodes to the parent's new position.
			  var nodeExit = node.exit().transition()
			      .duration(duration)
			      .attr("transform", function(d) { return "translate(" + source.y + "," + source.x + ")"; })
			      .remove();

			  nodeExit.select("circle")
			      .attr("r", 1e-6);

			  nodeExit.select("text")
			      .style("fill-opacity", 1e-6);

			  // Update the links
			  var link = svg.selectAll("path.link")
			      .data(links, function(d) { return d.target.id; });

			  // Enter any new links at the parent's previous position.
			  link.enter().insert("path", "g")
			      .attr("class", "link")
			      .attr("d", function(d) {
			        var o = {x: source.x0, y: source.y0};
			        return diagonal({source: o, target: o});
			      });

			  // Transition links to their new position.
			  link.transition()
			      .duration(duration)
			      .attr("d", diagonal);

			  // Transition exiting nodes to the parent's new position.
			  link.exit().transition()
			      .duration(duration)
			      .attr("d", function(d) {
			        var o = {x: source.x, y: source.y};
			        return diagonal({source: o, target: o});
			      })
			      .remove();

			  // Stash the old positions for transition.
			  nodes.forEach(function(d) {
			    d.x0 = d.x;
			    d.y0 = d.y;
			  });
			}

			// Toggle children on click.
			function click(d) {
			  if (d.children) {
			    d._children = d.children;
			    d.children = null;
			        // console.log("non-leaf 1");
			  } 
			  else {
			    if(d._children){
			        d.children = d._children;
			        d._children = null;
			        // console.log("non-leaf 2");
				}
				else if (d.node_type == "Topic"){
			        // console.log("Leaf!");
			        var a = document.createElement('a');
					a.setAttribute('href', "/{{group_name_tag}}/topic_details/"+d.id+"");
					// a.setAttribute('target', '_blank');
					document.body.appendChild(a);
					a.click();
					a.remove();
			        // location.href = "/{{group_name_tag}}/topic_details/"+d.id+"";
					// $('#collaps_topic_details').foundation('reveal', 'open');     
			    }
			  }
			  update(d);
			}

			$("#theme-drag-zoom-container").removeClass("hide");

			// calling function plotDragZoomTree defined in theme_drag_zoom_d3tree.html 
			plotDragZoomTree(treeData);
			}	

// ---END of D3 collapsible tree


</script>

{% endblock %}