/*
*  Metstudio Platform Stylesheet
*/

//Import any custom css
//@import url("../../custom.css");

body{ 
    background-color: #fafafa;
}


.top-bar{
    a.language.button{
        padding: 5px 10px;
        margin-top:3px;
            background-color: #555;
            color:black;
            &:hover{
                background-color: white;
                color:black;
            }
        }
    ul.language-selector{
        height: $topbar-height;
        float: right;
        margin:0;
    }
    .active{
        background-color:$theme-text-color!important;
    }
    h1{
        .flag{
                height: 20px;
            margin-bottom: 4px;
            margin-right: 2px;
            }
        img{
            /* Logo */
			height: $topbar-height * 0.8;
		}
        a{
			color:white!important;
		}
    }
    .group:hover{
        background-color: #111;
    }

    // user logout option of RHS dropdown
    .logout{
        background-color: $alert-color !important;
    }

    .logout:hover {
        background-color: darken($alert-color, 10%) !important;
        transition: background-color 400ms ease-out;
    }
}


.workspace{

    // group level menu bar
    .app.button-bar {
        height: 45px;
    }
    
    //This is the main content container between the header and footer
    background: url("watermark.png") no-repeat 0 80%;
	min-height: 100%;
	margin-bottom: -130px!important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
            
    &:after{
        //Hack for setting div height to the height of the browser window
		content:"";
		display:block;
		height:130px;    // allows the content of the footer to be visible at the bottom. This should match the margin-bottom of the div
	}
}


		body>footer{
            //Site footer
			padding:20px 0;
			position: relative;
            color:#888;
            min-height: 170px;
            background-color: rgba(0,0,0,0.8);

           section:first-child{
               border-bottom: 1px solid #222;
               margin-bottom: 1rem;
           }
            a{
			color: #777;
                &:hover{
                    color:#eee;
                }
		}
           strong a{
               border-bottom: 1px dotted #555;
           }
               
		}


		.coll-arrows{
			cursor:pointer;
			display: block;
			padding: 0.5rem;
            
            &:hover{
			background-color: #D3D3D3;
		}
		}



/* Sections */


main>nav{
    border-top:3px solid black;
    position: relative;
    z-index: 10;
&>.button-bar{
    background-color: $active-color;
    .button-group{
        margin: 0;
        &.tools{
           padding: 5px;
        }
    }
    li{
        
        .button{
            border: none;
        font-size: 0.8rem;
        padding: 0.8rem 1rem;
            &.home{
                font-weight: bold;
            }
            &.settings,&#toggle-help{
                padding: 6px 10px;
                color: #333;
               // font-size: 110%;
                background-color: rgba(255,255,255,0.3);
                &:hover{
                    background-color: rgba(0,0,0,0.2);
                    color:white;
                }
            }
            &#toggle-help{
                background-color: inherit;
            }
            &.settings{
                &:after{
                    border: none;
                }
            }
            
        background-color: transparent;
        color: black;
        margin: 0;
            &:hover{
                color:white;
            }
        }
        
        &.active{
            .button{
                background-color: $primary-color;
                color:white;
            }
        }
    }
    
    /* Hide icons till we can retreive custom icons from the system */
    .app i{
                display: none!important; 
            }
}
}


main>aside{
    &>div{
      
        
        
        h2{
            color:#111;
        }
        h3{
            font-size: 1.2rem;
            font-weight: normal;
            color: #222;
        }
        h4{
            font-size: 1rem;
            color: #222;
            span{
                display: none;
            }
            &:hover span{
                display: inline;
            }
        }
        h5,h6{
            margin: 0;
        }
            
        .f-dropdown.content{
            width: auto;
            padding: 0;
            border: 1px solid #222;
            .item{
                width: 70px;
            }
        }
        header{
           padding: 10px;
        }
        footer{
            background-color: #222;
            min-height: 1rem;
            label{
                font-size: 0.7rem;
            }
        }
        
        
        // Aside link styles
        a,p{
                color: white;
            &:hover{
                color:white;
            }
            }
        .side-nav.collection{
            background-color: #444;
            padding: 0;
            border-bottom: 2px solid $active-color;
            margin: 0;
            li{
                border-bottom: 1px solid #555;
                a{
                    border-left: 2px solid black;
                }
                &.active a,a:hover{
                    color:white!important;
                    border-left: 2px solid $active-color;
                    background-color: $active-color;
                }
            }
        }
        
    }
}

//    Article styles
    article{
        position: relative;
        z-index: 1;
        min-height: 400px;
        overflow-x: visible;
        &>header,form>header{
            padding: 15px;
//            margin-bottom: 0.5rem;
            background-color: #f0f0f0;
        }
        
        &>footer{
        }
    
h1:not(.subheader){
//	font-family: $serif-font;
//    font-style: italic;
//    
    .tabs{
        display: inline-block;
        position: relative;
        bottom: -0.5rem;
    }
    
    div{
        display:inline-block;
        position: relative;
        input{
            height:200%;
            font-style: italic;
            @extend h1;
            padding-left:5px; 
            box-shadow: none;
            border-width: 0 0 2px 0;
            border-bottom: 2px dotted #222;
            background-color: inherit;
            
            &:hover{
            background-color: white;
            }
        }
    }
}
    }






/* Card block */



.card>*{
	position: relative;
	background-color: white;
	padding:7px;
	border: 1px dashed darken($bg-color,10%);
	display: block;
	//color:$bg-color;
	opacity:0.9;
    overflow: hidden;
    
    >a{
        color:inherit;
        display: block;
        position: relative;
        z-index: 200;
    }
    
     &.published{
        opacity: 1;
        background-color: darken($bg-color,5%);
    }
    &.unapproved{
        opacity: 1;
        border-style: solid;
        border-color: $alert-color;
    }

    &:hover{
	border-style:solid;
	opacity:1;
        >a{
           
        }
        i{
            opacity:0.3;
        }
        footer .age{
            display: block;
        }
}
    &>i{
	position: absolute;
	top: -10px;
	right: 10px;
	font-size: 3rem;
	color:$theme-color;
	opacity: 0.3;
}
    .preview{
        float: left;
        padding-right: 5px;
        padding-top: 4px;
    }
    header{
        overflow: hidden;
    }
    h5{
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-bottom: 0;
    }
        .label{
        opacity:0.5;
    }
    p{
        color: #555;
        height: 80px;
        background-repeat: no-repeat;
        font-size: 80%;
    }
    .th{
        margin:20px auto;
        width:80px;
        height: 80px;
        overflow: hidden;
        display: none;
        &:hover{
        width: 150px;
        height: 150px;
    }
        img{
        width: 100%;
    }
}
    footer{
        margin-top: 1rem;
        font-size: 70%;
        clear: both;
        color: $meta-color;
            .age{
                display: none;
                position: absolute;
                background-color: white;
                z-index: 100;
                bottom: 0;
                width: 100%;
            }
        }
}

.edit-card{
    position: relative;
	background-color: $bg-color;
	padding:10px;
//	border: 1px dashed darken($bg-color,10%);
	display: block;
    
}


/* Content Tabs */
article{
   
        
.tabs {
    display: inline-block;
    dd a{
        border-radius: 4px;
        border: 1px transparent;
    }
    dd.active a{
        color:$active-color;
        border: 1px solid;
    }
    dd:hover a{
        color:$active-color;
    }
    
    i{
	margin-right: 5px;
	font-size: 1.3rem;
}
}

    section.content{
        background-color:white;
        border: 1px solid #eee;
    }


}

/* Default card */
.card>:hover .label{
	opacity:1;
}


.gallery .card .th{
	display: block;
}



/* Inline label list */

.label-list{
	display: inline-block;
	text-align: left;
    margin-bottom: 0.1rem;
    &:empty:before{
        content:"UNTAGGED";
        @extend .label;
        opacity:0.2!important;
    padding: 2px;
        background-color: transparent;
    }
    
    .label{
    text-transform: uppercase;
    background-color: transparent;
    padding: 2px;
}  
}




/*************************** 2. Custom CSS overrides ***********************/


/* Content area */


article{
    
	padding-bottom: 4rem; 
	
    &>header{
	border-bottom: 1px solid #ddd;
//	margin-bottom: 1rem!important;
}
    &>footer{
	border-top: 1px dotted #ddd;
}
    .breadcrumbs{
	display: none;
	background-color: #eee;
}
}




textarea{
	min-height: 6rem;
}
/*
.orgitdown textarea{
	min-height: 15rem!important;
}
#content{
	min-height: 10rem;

}
*/
/*#content>p{
	font-size: inherit;
	line-height: 1.4;
	color: #222;
}*/
/*************************** 3. Custom CSS Below ***********************/

/*CSS fix for tables generated via orgitdown*/
#content table td, #content colgroup col{
	float: none !important;
}


.user{
	color: inherit;
}
.user{
	color: inherit;
}
.user i{
margin-right: 3px;
}
.user:hover i{
	opacity:1;
}

a.node{
	display:block;
}

.button.edit{
	margin-bottom: 0;
}


/************ Forms **************/

/* Node edit */
input.node-title{
	font-size: 3rem;
	height:  4rem;
	display: inline-block;
}

/* view-graph in node_details_base.html */
.graph-height{
	height:70%;
}

/*for graph and location*/
.graph-div {
  height: 90%;
  width: -webkit-calc(100% - 10px); width:-o-calc(100% - 10px); width: -moz-calc(100% - 10px); width: calc(100% - 10px) !important;
  top: 5% !important;
  left: 5px !important;
  padding: 0px !important;
  margin-left: 0 !important;
}

/*for graph and location*/
.graph-div h3{
  border-bottom: 2px inset #154534;
  padding: 0.25em 0;
}

#view-map-widget .close-reveal-modal, #view-map-edit-widget .close-reveal-modal{
	
	z-index:1;
	background-color: captiontext;
	padding: 5px 15px 10px;
	color:white !important;
	opacity:0.8;
	font-size: 2rem;
	box-shadow: 0 1px 10px 2px #A9A9A9;
}

#view-map-widget .close-reveal-modal:hover, #view-map-edit-widget .close-reveal-modal:hover{
	
	background-color: white;
	border-radius: 30px;
	padding: 5px 15px 10px;
	transition:2s;
	opacity:1;
	color:black !important;
	font-size: 2rem;
}


/****************** CUSTOM *********************/

/* UI Button */
.ui.button{
    margin-right: 0.5rem;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: rgba(0,0,0,0.5);
    color: #ddd;
    padding: 0.8rem;
    z-index: 500;
    &.language{
        
    }
    label{
            color:#666;
        }
    small{
        margin-left: 2px;
        display: inline;
    }
    &:hover,&:active{
        border-color: rgba(255,255,255,0.2);
        background-color: rgba(0,0,0,0.9);
        label{
            color:#ddd;
        }
        small{
            display: inline;
        }
        &:focus{
            font-weight: bold;
        }
    }
}


/* For landing page */

 #landing>header{
        background-image: url("/static/ndf/css/themes/nroer/home_banner.jpg");
        position: relative;
        z-index: 50;
        background-color: #0A253A;
        padding:1rem 0 1rem 0;
        @extend .drop-shadow;
        border-bottom: 2px solid #00CEFD;
        .logo{
            color:#555;
            text-align: center;
            padding: 1rem;
            background-color: rgba(0,0,0,0.8);
            img{
                max-width: 75%;
                margin-bottom: 0.5rem;
            }
            
            h1{
        font-size: 1.2rem;
            line-height: 1;
        font-weight: bold;
        text-transform: uppercase;
                color:white;

    }
        }
        
    
    }

.landing{
    position: relative;
    
   h2{
       margin-top: 2rem;
   }
    
}
section.promo{
    background-color: rgba(0,0,0,0.9);
    border-bottom: 4px solid #00CEFD;
    .meta{
        h4{
            color:white;
        }
    }
}

ul.partner{
    img{
        max-height: 150px;
    }
}

div.banner{
    padding:0 2rem;
    margin-bottom: 2rem;
    border:2px solid lighten($primary-color,10%);
    border-width: 2px 0;
    &>*{
    background-color: $primary-color;
        .slide{
            padding: 1rem;
            background-color: darken($primary-color,5%);
            height:250px!important;
            &>i{
                position: absolute;
                font-size: 15rem;
                pointer-events: none;
                color: white;
                opacity:0.1;
                right:5%;
            }
        }
    color:#eee;
    margin:0;
    h3,h4,h5,h6,blockquote{
        color:white;
    }
        blockquote{
            font-size: 140%;
            font-style:italic;
        }
    p:first-child{
        color:white;
        font-size:120%;
        }
    
    }
    // Slick Carousel
    .slick-dots .button{
    }
}

// Off Canvas Areas
aside#help{
    h4{
        color:black;
    }
    p,h5,h6{
        color:#ddd;
    padding: 0.3rem 0.9375rem;
    }
}


.align-center {
    margin: 0 auto;
    display: block;
}



#profile-img {
    height: 40px;
    margin-right: 5px;
    width: 40px;
}


// discussion

#replies-area .disc-replies {

    padding:10px;
    background-color: lighten($primary-color, 55%);
    width:27em;
    max-width: 40em;
    margin-left: 48px; 
    margin-top: 10px;

    .reply-btn{
        cursor: pointer;
    }

    .reply-btn:hover {
        font-weight: bold;
    }
}
